<app-layout>
  <router-outlet>

    <!-- Banner -->
    <section class="banner homebanner">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="text_banner">
              <img src="assets/images/banner1.png" alt="" />
              <h2>Selling or renting Your Property?</h2>
              <span>You will first need to obtain a certifiacte of occupancy</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Banner_End -->

    <!-- Section -->
    <section class="portal_certificate">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 order-lg-2">
            <div class="right_checkbar">
              <img src="assets/images/easy1.png" alt="" />
            </div>
          </div>
          <div class="col-lg-7  order-lg-1">
            <div class="process_ab">
              <p>Before you sell any residential property in Morristown, you must obtain a Certificate of
                Habitability from the Division of Housing and Property Maintenance and a satisfactory Zoning
                Review from the Zoning Officer, for each dwelling unit. This applies to single-family homes,
                two-family homes, co-ops, apartments, condos, town homes, multi-family homes and dwelling
                units in mixed-use buildings.</p>
              <p>If you have questions about the approval process or how to calculate your fees, please call
                Housing & Property Maintenance (973) 292-6700 on weekdays </p>

              <div class="btn_center">
                <a href="#!" class="btn">Read More</a>
              </div>

            </div>
          </div>





        </div>
      </div>
    </section>
    <!-- Section_End -->

    <!-- Section -->
    <section class="certificates_habit">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="center_heading">
              <h2>Types of Certificates</h2>
              <span class="center_line"></span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="occupancy_more">
              <div class="text_tenant">
                <h3>Certificate of Occupancy</h3>
                <p>Needed for the sale transfer of a <b>residential property</b> including
                  properties at a sheriff sale or an auction</p>
                <a href="#!">Read More</a>
              </div>
              <div class="icon_properties iconstyle"></div>
            </div>
          </div>


          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="occupancy_more">
              <div class="text_tenant">
                <h3>Certificate Of Habitability</h3>
                <p>Needed prior to renting an apartment or residential dwelling unit to a <b>new tenant</b>
                </p>
                <a href="#!">Read More</a>
              </div>
              <div class="icon_habitability iconstyle"></div>
            </div>
          </div>


          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="occupancy_more">
              <div class="text_tenant">
                <h3>Certificate of Continued Occupancy</h3>
                <p>Needed prior to the sale or transfer of a <b>commercial property</b> or prior to new
                  leasing of a commercial space by a new business Establishment</p>
                <a href="#!">Read More</a>
              </div>
              <div class="icon_occupancy iconstyle"></div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- Section_End -->
    <!-- Howitwork -->
    <section class="work_required">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="center_heading">
              <h2>How it Work</h2>
              <span class="center_line"></span>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="step_policy">
              <div class="row">
                <div class="col-md-7 order-md-2">
                  <div class="step_application min_hsame">
                    <div class="topnumber">
                      <span>01</span>
                    </div>

                    <div class="application_line">
                      <p>Complete and submit your Application and provide the necessary Supporting
                        documentation including indentification, listing agreement, etc.</p>
                    </div>

                  </div>
                </div>

                <div class="col-md-5 order-md-1">
                  <div class="step_application min_hsame">
                    <div class="topnumber">
                      <span>02</span>
                    </div>

                    <div class="application_line">
                      <p>Pay the required fees</p>
                    </div>

                  </div>
                </div>

              </div>


              <div class="row">
                <div class="col-md-7 order-2">
                  <div class="step_application min_hsame">
                    <div class="topnumber">
                      <span>04</span>
                    </div>

                    <div class="application_line">
                      <p>An inspection for/ housing property maintenance will be scheduled. A seprate
                        inspection for smoke Detector, Carbon Monoxide Alarm and Fire Extinguisher.
                        They could occur on different days.
                        You and Your desing must be present for both inspections. </p>
                    </div>

                  </div>
                </div>

                <div class="col-md-5 order-1">
                  <div class="step_application min_hsame">
                    <div class="topnumber">
                      <span>03</span>
                    </div>

                    <div class="application_line">
                      <p>The Zoning taxes and assessors offices may perform a record review.</p>
                    </div>

                  </div>
                </div>

              </div>



              <div class="row">
                <div class="col-md-7 order-md-2">
                  <div class="step_application">
                    <div class="topnumber">
                      <span>05</span>
                    </div>

                    <div class="application_line">
                      <p>Once your permanent or temporary certificate is ready you and your desingee
                        may pick it up or it may be mailed to you (depending on the Municipality)
                      </p>
                    </div>

                  </div>
                </div>

                <div class="col-md-5 order-md-1">
                  <div class="step_application">
                    <div class="topnumber">
                      <span>06</span>
                    </div>

                    <div class="application_line">
                      <p>Inspection will be recorded provided by the inspector and issued and your
                        certificate will be issued. If there are violations you will have an
                        opportunity to correct them request a temporary certificate. </p>
                    </div>

                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>



      </div>
    </section>
    <!-- Howitwork_End -->



    <!-- Inspection -->
    <section class="inspection_sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="center_heading">
              <h2>The Inspection</h2>
              <span>There are may be two inspections depending on your municipality</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="uptabs">

              <ul class="nav nav-tabs first_tab" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="house-property" data-toggle="tab" href="#house_tab" role="tab"
                    aria-controls="home" aria-selected="true">House & Property
                    Maintenance</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="fire-safety-tab" data-toggle="tab" href="#fire_safety" role="tab"
                    aria-controls="profile" aria-selected="false">Fire Safety</a>
                </li>

              </ul>

              <div class="tab-content" id="myTabContent">
                <!-- House & Property Maintenance -->
                <div class="tab-pane fade show active topmt_space" id="house_tab" role="tabpanel"
                  aria-labelledby="house-property">


                  <div class="inner_tabs_penal">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-exterior" data-toggle="tab" href="#exterior_home" role="tab"
                          aria-controls="home" aria-selected="true">Exterior</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="interior-tab" data-toggle="tab" href="#interior_box" role="tab"
                          aria-controls="profile" aria-selected="false">Interior</a>
                      </li>

                    </ul>

                    <div class="tab-content" id="myTabContent">
                      <!-- Exterior First Interior-->
                      <div class="tab-pane fade show active mt_space1" id="exterior_home" role="tabpanel"
                        aria-labelledby="home-exterior">

                        <div class="landscape_tab">
                          <div class="left_link">
                            <div class="heightfixed scroll_more">
                              <ul>
                                <li>
                                  <a href="#!" data-tab="tab_tb1"><span class="iconlist accessory_icon"></span>
                                    Accessory Structures</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb2"><span class="iconlist chimneys_icon"></span>
                                    Chimneys</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb3"><span class="iconlist foundation_icon"></span>
                                    Foundation Wall</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb4" class="active"><span
                                      class="iconlist landscape_tabs"></span>
                                    Landscape</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb5"><span class="iconlist paint_icon"></span> Paint</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb1"><span class="iconlist accessory_icon"></span>
                                    Accessory Structures</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb2"><span class="iconlist chimneys_icon"></span>
                                    Chimneys</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb3"><span class="iconlist foundation_icon"></span>
                                    Foundation Wall</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb4"><span class="iconlist landscape_tabs"></span>
                                    Landscape</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb5"><span class="iconlist paint_icon"></span> Paint</a>
                                </li>

                              </ul>
                            </div>
                          </div>

                          <div class="attached_cleaned">
                            <div class="tab_tb1 show_tab">
                              <h3>Landscape 2</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb2 ">
                              <h3>Landscape 3</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb3 ">
                              <h3>Landscape 3</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb4 ">
                              <h3>Landscape 4</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb5 ">
                              <h3>Landscape5</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                          </div>

                        </div>

                      </div>

                      <!-- Exterior First end -->
                      <!-- Interior First  -->
                      <div class="tab-pane fade mt_space1" id="interior_box" role="tabpanel"
                        aria-labelledby="interior-tab">

                        <div class="landscape_tab">
                          <div class="left_link">
                            <div class="heightfixed scroll_more">
                              <ul>
                                <li>
                                  <a href="#!" data-tab="tab_tb1"><span class="iconlist accessory_icon"></span>
                                    Accessory Structures</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb2"><span class="iconlist chimneys_icon"></span>
                                    Chimneys</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb3"><span class="iconlist foundation_icon"></span>
                                    Foundation Wall</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb4" class="active"><span
                                      class="iconlist landscape_tabs"></span>
                                    Landscape</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb5"><span class="iconlist paint_icon"></span> Paint</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb1"><span class="iconlist accessory_icon"></span>
                                    Accessory Structures</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb2"><span class="iconlist chimneys_icon"></span>
                                    Chimneys</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb3"><span class="iconlist foundation_icon"></span>
                                    Foundation Wall</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb4"><span class="iconlist landscape_tabs"></span>
                                    Landscape</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb5"><span class="iconlist paint_icon"></span> Paint</a>
                                </li>

                              </ul>
                            </div>
                          </div>

                          <div class="attached_cleaned">
                            <div class="tab_tb1 show_tab">
                              <h3>Landscape 2</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb2 ">
                              <h3>Landscape 3</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb3 ">
                              <h3>Landscape 3</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb4 ">
                              <h3>Landscape 4</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb5 ">
                              <h3>Landscape5</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                          </div>

                        </div>

                      </div>
                      <!-- Interior First End -->
                    </div>


                  </div>

                </div>
                <!-- House & Property Maintenance End-->

                <!-- Fire Safety Start-->
                <div class="tab-pane fade topmt_space" id="fire_safety" role="tabpanel"
                  aria-labelledby="fire-safety-tab">

                  <div class="inner_tabs_penal">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-exterior2" data-toggle="tab" href="#exterior_home2"
                          role="tab" aria-controls="home" aria-selected="true">Exterior</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="interior-tab2" data-toggle="tab" href="#interior_box2" role="tab"
                          aria-controls="profile" aria-selected="false">Interior</a>
                      </li>

                    </ul>



                    <div class="tab-content" id="myTabContent">
                      <!-- Exterior Second-->
                      <div class="tab-pane fade show active mt_space1" id="exterior_home2" role="tabpanel"
                        aria-labelledby="home-exterior2">

                        <div class="landscape_tab">
                          <div class="left_link">
                            <div class="heightfixed scroll_more">
                              <ul>
                                <li>
                                  <a href="#!" data-tab="tab_tb1"><span class="iconlist accessory_icon"></span>
                                    Accessory Structures</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb2"><span class="iconlist chimneys_icon"></span>
                                    Chimneys</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb3"><span class="iconlist foundation_icon"></span>
                                    Foundation Wall</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb4" class="active"><span
                                      class="iconlist landscape_tabs"></span>
                                    Landscape</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb5"><span class="iconlist paint_icon"></span> Paint</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb1"><span class="iconlist accessory_icon"></span>
                                    Accessory Structures</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb2"><span class="iconlist chimneys_icon"></span>
                                    Chimneys</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb3"><span class="iconlist foundation_icon"></span>
                                    Foundation Wall</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb4"><span class="iconlist landscape_tabs"></span>
                                    Landscape</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb5"><span class="iconlist paint_icon"></span> Paint</a>
                                </li>

                              </ul>
                            </div>
                          </div>

                          <div class="attached_cleaned">
                            <div class="tab_tb1 show_tab">
                              <h3>Landscape 2</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb2 ">
                              <h3>Landscape 3</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb3 ">
                              <h3>Landscape 3</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb4 ">
                              <h3>Landscape 4</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb5 ">
                              <h3>Landscape5</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                          </div>

                        </div>

                      </div>

                      <!-- Exterior Second End-->
                      <!-- Interior Second -->
                      <div class="tab-pane fade mt_space1" id="interior_box2" role="tabpanel"
                        aria-labelledby="interior-tab2">

                        <div class="landscape_tab">
                          <div class="left_link">
                            <div class="heightfixed scroll_more">
                              <ul>
                                <li>
                                  <a href="#!" data-tab="tab_tb1"><span class="iconlist accessory_icon"></span>
                                    Accessory Structures</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb2"><span class="iconlist chimneys_icon"></span>
                                    Chimneys</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb3"><span class="iconlist foundation_icon"></span>
                                    Foundation Wall</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb4" class="active"><span
                                      class="iconlist landscape_tabs"></span>
                                    Landscape</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb5"><span class="iconlist paint_icon"></span> Paint</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb1"><span class="iconlist accessory_icon"></span>
                                    Accessory Structures</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb2"><span class="iconlist chimneys_icon"></span>
                                    Chimneys</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb3"><span class="iconlist foundation_icon"></span>
                                    Foundation Wall</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb4"><span class="iconlist landscape_tabs"></span>
                                    Landscape</a>
                                </li>
                                <li>
                                  <a href="#!" data-tab="tab_tb5"><span class="iconlist paint_icon"></span> Paint</a>
                                </li>

                              </ul>
                            </div>
                          </div>

                          <div class="attached_cleaned">
                            <div class="tab_tb1 show_tab">
                              <h3>Landscape 2</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb2 ">
                              <h3>Landscape 3</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb3 ">
                              <h3>Landscape 3</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb4 ">
                              <h3>Landscape 4</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                            <div class="tab_tb5 ">
                              <h3>Landscape5</h3>

                              <ul>
                                <li><span class="iconcheck"></span>Attached downspouts</li>
                                <li><span class="iconcheck"></span>Cleaned</li>
                                <li><span class="iconcheck"></span>In good working condition
                                </li>
                              </ul>
                            </div>

                          </div>

                        </div>

                      </div>
                      <!-- Interior Second End-->
                    </div>


                  </div>

                </div>
                <!-- Fire Safety End-->
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Inspection_End -->


    <!-- Section_note -->
    <section class="note_section">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <div class="noteline">
              <p>Note: if your property has failed Inspection and cannot pass Re-Inspection in time for
                closing, you may request a Temporary Certificate of Habitability. The Temporary CH transfers
                the responsibility for obtaining the CH to the buyer, who must pay for and schedule
                Re-Inspection in advance of the “comply by” date.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Section_note_End -->
  </router-outlet>
</app-layout>
