
<app-layout>
    <router-outlet>
       <div class="container row d-flex justify-content-center mt-4">
           <div class="col-8">
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let fee of paymentsDetailsWithKey">
                            <th scope="row">{{fee?.key}}</th>
                            <td>{{fee?.amount}}</td>
                           
                          </tr>
                         
                        </tbody>
                      </table>
                      <button type="button" class="btn btn-primary float-right mt-2" [disabled] = "isSubmit" (click) ="payment()">Submit</button>
   
           </div>
           
                 
       </div>
    </router-outlet>
</app-layout>
