<app-layout>
    <router-outlet>

        <section class="updateprofile">
            <div class="box-engrining-2">

                <div class="applicant-details">
                    <div class="job-location-Hd">
                        <h3>Change Password</h3>
                    </div>

                    <div class="app-details">
                        <div class="container p-0">
                            <form [formGroup]="changePasswordForm">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="bdp_email loction-adInput">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="form-group">
                                                        <!-- [class]="email.invalid && (email.dirty || email.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'" -->
                                                        <input type="password" id="np1" class="form-control"
                                                            formControlName="oldPassword"
                                                            [class]="password.oldPassword.invalid && (password.oldPassword.dirty || password.oldPassword.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'">
                                                        <label class="form-control-placeholder" for="np1">Old
                                                            Password</label>
                                                    </div>
                                                    <div class="form-error"
                                                    *ngIf="password.oldPassword.invalid && (password.oldPassword.dirty || password.oldPassword.touched || isSubmit)">
                                                    <span *ngIf="password.oldPassword.errors['required']">
                                                      Please select a Password
                                                    </span>
                                                    <span *ngIf="password.oldPassword.errors['minlength']">
                                                      Please enter a Password more than 6 characters.
                                                    </span>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="bdp_email loction-adInput">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="form-group">
                                                        <input type="password" id="np2"  (input)="passwordMatch('pass')" class="form-control" [class]="password.newPassword.invalid && (password.newPassword.dirty || password.newPassword.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                                                            formControlName="newPassword">
                                                        <label class="form-control-placeholder" for="np2">New
                                                            Password</label>
                                                    </div>
                                                    <div class="form-error"
                                                    *ngIf="password.newPassword.invalid && (password.newPassword.dirty || password.newPassword.touched || isSubmit)">
                                                    <span *ngIf="password.newPassword.errors['required']">
                                                      Please select a Password
                                                    </span>
                                                    <span *ngIf="password.newPassword.errors['minlength']">
                                                      Please enter a Password more than 6 characters.
                                                    </span>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="bussiness-input">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <input type="password" id="np3" (input)="passwordMatch('conpass')" class="form-control" [class]="password.cnfpassword.invalid && (password.cnfpassword.dirty || password.cnfpassword.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                                                                formControlName="cnfpassword">
                                                            <label class="form-control-placeholder" for="np3">Confirm
                                                                Password</label>
                                                        </div>
                                                        <div class="form-error"
                                                        *ngIf="password.cnfpassword.invalid  && (password.cnfpassword.dirty || password.cnfpassword.touched || isSubmit)">
                                                        <span>
                                                          Password Not Matched
                                                        </span>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="btn-pre">
                                    <button>Previous</button>
                                    <button class="continue mr-0" type="submit"
                                        (click)="changePassword()">Continue</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </router-outlet>
</app-layout>