<app-layout>
    <router-outlet>
        
        <section class="updateprofile">
                <section>
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="back-txt">
                                        <div class="row">
                                            <div class="col-12" routerLink = "/dashboard/permit">
                                                <h3><span><img src="assets/images/left-arrow.svg" alt=""></span> Back</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            <div class="box-engrining-2">

                <div class="applicant-details">
                    <div class="job-location-Hd">
                        <h3>Update Profile</h3>
                    </div>

                    <div class="app-details">
                        <div class="container p-0">
                            <form [formGroup]="profileForm">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="bdp_email loction-adInput">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="form-group">
                                                        <input type="text" id="ud1" class="form-control"
                                                            formControlName="first_name"
                                                            [class]="profile.first_name.invalid && (profile.first_name.dirty ||profile.first_name.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'">
                                                        <label [class]="profile.first_name.invalid && (profile.first_name.dirty ||profile.first_name.touched || isSubmit) ? 'form-control-placeholder msg' : 'form-control-placeholder'" for="ud1">First
                                                            name</label>
                                                        <div
                                                            *ngIf="profile.first_name.invalid && (profile.first_name.dirty || profile.first_name.touched || isSubmit)">
                                                            <p class="form-error"
                                                                *ngIf="profile.first_name.errors['required']">
                                                                Please enter name.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <div class="bdp_email loction-adInput">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="form-group" id="dfemail">
                                                        <input type="text" id="ud2" class="form-control"
                                                            formControlName="email" readonly>
                                                        <label [class]="profile.email.invalid && (profile.email.dirty ||profile.email.touched || isSubmit) ? 'form-control-placeholder msg' : 'form-control-placeholder'" for="ud2">Email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="bussiness-input mt-0 pt-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <input type="text" id="ud3" class="form-control"
                                                                formControlName="last_name"
                                                                [class]="profile.last_name.invalid && (profile.last_name.dirty ||profile.last_name.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'">
                                                            <label [class]="profile.last_name.invalid && (profile.last_name.dirty ||profile.last_name.touched || isSubmit) ? 'form-control-placeholder msg' : 'form-control-placeholder'" for="ud3">Last
                                                                Name</label>
                                                            <div
                                                                *ngIf="profile.last_name.invalid && (profile.last_name.dirty || profile.last_name.touched || isSubmit)">
                                                                <p class="form-error"
                                                                    *ngIf="profile.last_name.errors['required']">
                                                                    Please enter last name.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <input type="text" id="ud4" class="form-control"
                                                                formControlName="mobile_number" maxlength="12"
                                                                (keypress)= "(profilevalue.mobile_number && profilevalue.mobile_number.length) > 2 ? phoneNumberFormate('mobile'):''"
                                                                [class]="profile.mobile_number.invalid && (profile.mobile_number.dirty ||profile.mobile_number.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'">
                                                            <label [class]="profile.mobile_number.invalid && (profile.mobile_number.dirty ||profile.mobile_number.touched || isSubmit) ? 'form-control-placeholder msg' : 'form-control-placeholder'" for="ud4">
                                                                Mobile Number</label>
                                                            <div
                                                                *ngIf="profile.mobile_number.invalid && (profile.mobile_number.dirty || profile.mobile_number.touched || isSubmit)">
                                                                <p class="form-error"
                                                                    *ngIf="profile.mobile_number.errors['required']">
                                                                    Please enter mobile number.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="bussiness-input">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <input type="text" id="ud5" class="form-control"
                                                                formControlName="company">
                                                            <label [class]="profile.company.invalid && (profile.company.dirty ||profile.company.touched || isSubmit) ? 'form-control-placeholder msg' : 'form-control-placeholder'"
                                                                for="ud5">Company</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <input type="text" id="ud6" class="form-control"
                                                                formControlName="job_title">
                                                            <label [class]="profile.job_title.invalid && (profile.job_title.dirty ||profile.job_title.touched || isSubmit) ? 'form-control-placeholder msg' : 'form-control-placeholder'" for="ud6">
                                                                Job Title</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="bussiness-input">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <input type="text" id="ud7" class="form-control"
                                                                formControlName="address">
                                                            <label [class]="profile.address.invalid && (profile.address.dirty ||profile.address.touched || isSubmit) ? 'form-control-placeholder msg' : 'form-control-placeholder'"
                                                                for="ud7">Address</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="bussiness-input">
                                    <div class="row profile-state">
                                        <div class="col-6 daynmic-select">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group position-relative">
                                                            <label>State
                                                            </label>
                                                            <select type="text" id="ud8" class="form-control"
                                                                formControlName="state">
                                                                <option value="" hidden>--Select--</option>
                                                                <option value="{{state?.key}}"
                                                                    *ngFor="let state of settings?.userState">
                                                                    {{state?.value}}</option>
                                                            </select>
                                                           
                                                            <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <input type="text" id="ud9" class="form-control"
                                                                formControlName="city">
                                                            <label class="form-control-placeholder"
                                                                for="ud9">City</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bussiness-input">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <input type="number" id="ud8" class="form-control"
                                                                maxlength="6"
                                                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                                formControlName="zip">
                                                            <label class="form-control-placeholder" for="ud8">Zip
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="bdp_email loction-adInput">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <!-- <div class="form-group">
                                                            <input type="text" id="ud9" class="form-control"
                                                                maxlength="12" formControlName="phone_number"  (keypress)="phoneNumberFormate('phone')">
                                                              
                                                                
                                                            <label class="form-control-placeholder"
                                                                for="ud9">Phone</label>
                                                        </div> -->

                                                        <div class="form-group">
                                                            <input type="text" id="ud4" class="form-control"
                                                                formControlName="phone_number" maxlength="12"
                                                                (keypress)= "(profilevalue.phone_number && profilevalue.phone_number.length) > 2 ? phoneNumberFormate('phone'):''"
                                                                [class]="profile.phone_number.invalid && (profile.phone_number.dirty ||profile.phone_number.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'">
                                                            <label [class]="profile.phone_number.invalid && (profile.phone_number.dirty ||profile.phone_number.touched || isSubmit) ? 'form-control-placeholder msg' : 'form-control-placeholder'" for="ud4">
                                                                Phone</label>
                                                            <div
                                                                *ngIf="profile.phone_number.invalid && (profile.phone_number.dirty || profile.phone_number.touched || isSubmit)">
                                                                <p class="form-error"
                                                                    *ngIf="profile.phone_number.errors['required']">
                                                                    Please enter phone number.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="bussiness-input">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="bdp_email loction-adInput">
                                                    <div class="row">
                                                        <div class="col-12 ">
                                                            <div class="form-group">
                                                                <input type="text" id="ud10" class="form-control" formControlName="zip">
                                                                <label class="form-control-placeholder" for="ud10">Zip</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                            </div>
                        
                                        </div>
                                    </div> -->

                                <div class="btn-pre">
                                    <button type="button" (click)="back()">Cancel</button>
                                    <button class="continue mr-0" (click)="updateProfile()">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>
 
    </router-outlet>
</app-layout>