<app-auth-layout>
    <router-outlet>
        <app-side-bar [childMessage]="permit_type"></app-side-bar>

        <main class="main-content">
            <section>
                <div class="container  container_full">
                    <div class="row">
                        <div class="col-12 admin_tabber">
                            <div class="work-loaction-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-admin-Permit-loaction-tab"
                                                    data-toggle="pill" href="#pills-admin-Permit-loaction" role="tab"
                                                    aria-controls="pills-admin-Permit-loaction"
                                                    aria-selected="true">OverSized Vehicles</a>
                                            </li>
                                            <!-- <li class="nav-item">
                                                <a class="nav-link" id="pills-DWL-tab" data-toggle="pill"
                                                    href="#pills-DWL" role="tab" aria-controls="pills-DWL"
                                                    aria-selected="false">Fire</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-Inspection-admin-tab" data-toggle="pill"
                                                    href="#pills-Inspection-admin" role="tab"
                                                    aria-controls="pills-Inspection-admin"
                                                    aria-selected="false">Water</a>
                                            </li> -->


                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-admin-Permit-loaction"
                                                role="tabpanel" aria-labelledby="pills-admin-Permit-loaction-tab">
                                                <section class="table-sec daily-sec">
                                                    <div class="container p-0 container_full">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="table-Box pl-0 pr-0 border-0">
                                                                    <div class="permit-index">
                                                                        <div class="row">
                                                                            <div class="col-10">
                                                                                <div class="row">
                                                                                    <div class="col-4 adminpermit_hd">
                                                                                        <div
                                                                                            class="permit-Hd meter_index">
                                                                                            OverSized Vehicles Index
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-4 filter-search">
                                                                                        <div
                                                                                            class="header-input tbl-search-box">
                                                                                            <input type="text"  (input)="searchApplication()"
                                                                                            [(ngModel)]="searchString"
                                                                                                placeholder="Search...">
                                                                                            <span><i class="fa fa-search"
                                                                                                    aria-hidden="true"></i></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-4 pl-0">
                                                                                        <div
                                                                                            class="btn-filter dropdownfilter">
                                                                                            <button><span><img
                                                                                                        src="../assets/images/filter.svg"
                                                                                                        alt=""></span>
                                                                                                Advance
                                                                                                Search</button>
                                                                                                <div
                                                                                                class="dropdown-contentfilter">
                                                                                                <div class="container p-0">
                                                                                                    <div class="row">
                                                                                                        <div class="col-4 ">
                                                                                                            <div
                                                                                                                class="filter-list">
                                                                                                                <div class="nav flex-column nav-pills"
                                                                                                                    id="v-pills-tab"
                                                                                                                    role="tablist"
                                                                                                                    aria-orientation="vertical">
                                                                                                                    <!-- <a class="nav-link active"
                                                                                                                    id="v-pills-ads1-tab"
                                                                                                                    data-toggle="pill"
                                                                                                                    href="#v-pills-ads1"
                                                                                                                    role="tab"
                                                                                                                    aria-controls="v-pills-ads1"
                                                                                                                    aria-selected="true">Submission
                                                                                                                    Date</a> -->
                                                                                                                    <!-- <a class="nav-link"
                                                                                                                    id="v-pills-ads2-tab"
                                                                                                                    data-toggle="pill"
                                                                                                                    href="#v-pills-ads2"
                                                                                                                    role="tab"
                                                                                                                    aria-controls="v-pills-ads2"
                                                                                                                    aria-selected="false">Submission
                                                                                                                    Date</a> -->
                                                                                                                    <!-- <a class="nav-link"
                                                                                                                        id="v-pills-ads3-tab"
                                                                                                                        data-toggle="pill"
                                                                                                                        href="#v-pills-ads3"
                                                                                                                        role="tab"
                                                                                                                        aria-controls="v-pills-ads3"
                                                                                                                        aria-selected="false">Street
                                                                                                                        Name</a> -->
                                                                                                                    <!-- <a class="nav-link"
                                                                                                                    id="v-pills-ads4-tab"
                                                                                                                    data-toggle="pill"
                                                                                                                    href="#v-pills-ads4"
                                                                                                                    role="tab"
                                                                                                                    aria-controls="v-pills-ads4"
                                                                                                                    aria-selected="false">Utility/
                                                                                                                    Non
                                                                                                                    Utility</a> -->
    
                                                                                                                    <a class="nav-link  "
                                                                                                                        id="v-pills-ads5-tab"
                                                                                                                        data-toggle="pill"
                                                                                                                        href="#v-pills-ads5"
                                                                                                                        role="tab"
                                                                                                                        aria-controls="v-pills-ads5"
                                                                                                                        aria-selected="true">Decision
                                                                                                                        <!-- <span>1</span> -->
                                                                                                                    </a>
                                                                                                                    <a class="nav-link"
                                                                                                                        id="v-pills-ads6-tab"
                                                                                                                        data-toggle="pill"
                                                                                                                        href="#v-pills-ads6"
                                                                                                                        role="tab"
                                                                                                                        aria-controls="v-pills-ads6"
                                                                                                                        aria-selected="false">Inspector</a>
                                                                                                                    <!-- <a class="nav-link"
                                                                                                                        id="v-pills-ads7-tab"
                                                                                                                        data-toggle="pill"
                                                                                                                        href="#v-pills-ads7"
                                                                                                                        role="tab"
                                                                                                                        aria-controls="v-pills-ads7"
                                                                                                                        aria-selected="false">Examiner</a> -->
                                                                                                                    <a class="nav-link"
                                                                                                                        id="v-pills-ads8-tab"
                                                                                                                        data-toggle="pill"
                                                                                                                        href="#v-pills-ads8"
                                                                                                                        role="tab"
                                                                                                                        aria-controls="v-pills-ads8"
                                                                                                                        aria-selected="false">Status</a>
                                                                                                                    <!-- <a class="nav-link"
                                                                                                                        id="v-pills-ads9-tab"
                                                                                                                        data-toggle="pill"
                                                                                                                        href="#v-pills-ads9"
                                                                                                                        role="tab"
                                                                                                                        aria-controls="v-pills-ads9"
                                                                                                                        aria-selected="false">Pipeline</a> -->
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-8 ">
                                                                                                            <div
                                                                                                                class="advance-date-sec">
                                                                                                                <div class="tab-content"
                                                                                                                    id="v-pills-tabContent">
                                                                                                                    <!-- <div class="tab-pane fade show active"
                                                                                                                        id="v-pills-ads1"
                                                                                                                        role="tabpanel"
                                                                                                                        aria-labelledby="v-pills-ads1-tab">
                                                                                                                        1...
                                                                                                                    </div> -->
                                                                                                                    <!-- <div class="tab-pane fade"
                                                                                                                    id="v-pills-ads2"
                                                                                                                    role="tabpanel"
                                                                                                                    aria-labelledby="v-pills-ads2-tab">
                                                                                                                    2...
                                                                                                                </div> -->
                                                                                                                    <!-- <div class="tab-pane fade"
                                                                                                                    id="v-pills-ads3"
                                                                                                                    role="tabpanel"
                                                                                                                    aria-labelledby="v-pills-ads3-tab">
                                                                                                                    3...
                                                                                                                </div> -->
                                                                                                                    <!-- <div class="tab-pane fade"
                                                                                                                    id="v-pills-ads4"
                                                                                                                    role="tabpanel"
                                                                                                                    aria-labelledby="v-pills-ads4-tab">
                                                                                                                    4...
                                                                                                                </div> -->
                                                                                                                    <div class="tab-pane fade show active"
                                                                                                                        id="v-pills-ads5"
                                                                                                                        role="tabpanel"
                                                                                                                        aria-labelledby="v-pills-ads5-tab">
    
                                                                                                                        <div
                                                                                                                            class="decisionFilter-Hd">
                                                                                                                            <p
                                                                                                                                class="hd-desion-check">
                                                                                                                                Decision
                                                                                                                            </p>
    
    
                                                                                                                            <!-- <label
                                                                                                                                class="containerdision mt-3">Cancelled
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    (change)="selectFilter($event.target,'decision')"
                                                                                                                                    value="cancelled_permit">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label> -->
                                                                                                                            <label
                                                                                                                                class="containerdision">Permit
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    (change)="selectFilter($event.target,'decision')"
                                                                                                                                    value="issue_permit">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
                                                                                                                            <label
                                                                                                                                class="containerdision">Accept
    
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    (change)="selectFilter($event.target,'decision')"
                                                                                                                                    value="accept">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
                                                                                                                            <label
                                                                                                                                class="containerdision">Pending
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    (change)="selectFilter($event.target,'decision')"
                                                                                                                                    value="pending">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
                                                                                                                            <label
                                                                                                                                class="containerdision">Fail
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    (change)="selectFilter($event.target,'decision')"
                                                                                                                                    value="fail">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
                                                                                                                            <label
                                                                                                                                class="containerdision">Pass
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    (change)="selectFilter($event.target,'decision')"
                                                                                                                                    value="pass">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
                                                                                                                            <label
                                                                                                                                class="containerdision">Incomplete
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    (change)="selectFilter($event.target,'decision')"
                                                                                                                                    value="incomplete">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
                                                                                                                        </div>
    
    
                                                                                                                    </div>
                                                                                                                    <div class="tab-pane fade"
                                                                                                                        id="v-pills-ads6"
                                                                                                                        role="tabpanel"
                                                                                                                        aria-labelledby="v-pills-ads6-tab">
                                                                                                                        <div
                                                                                                                            class="decisionFilter-Hd">
                                                                                                                            <p
                                                                                                                                class="hd-desion-check">
                                                                                                                                Inspector
                                                                                                                            </p>
                                                                                                                            <label
                                                                                                                                *ngFor="let ins of inspector"
                                                                                                                                class="containerdision mt-3">{{ins?.name}}
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    value="{{ins?.id}}"
                                                                                                                                    (change)="selectFilter($event.target,'inspector')">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
    
    
    
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <!-- <div class="tab-pane fade"
                                                                                                                        id="v-pills-ads7"
                                                                                                                        role="tabpanel"
                                                                                                                        aria-labelledby="v-pills-ads7-tab">
                                                                                                                        <div
                                                                                                                            class="decisionFilter-Hd">
                                                                                                                            <p
                                                                                                                                class="hd-desion-check">
                                                                                                                                Examiner
                                                                                                                            </p>
                                                                                                                            <label
                                                                                                                                class="containerdision mt-3"
                                                                                                                                *ngFor="let exm of examiner">{{exm?.name}}
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    value="{{exm?.id}}"
                                                                                                                                    (change)="selectFilter($event.target,'examiner')">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
    
    
    
                                                                                                                        </div>
                                                                                                                    </div> -->
                                                                                                                    <div class="tab-pane fade "
                                                                                                                        id="v-pills-ads8"
                                                                                                                        role="tabpanel"
                                                                                                                        aria-labelledby="v-pills-ads8-tab">
                                                                                                                        <div
                                                                                                                            class="decisionFilter-Hd">
                                                                                                                            <p
                                                                                                                                class="hd-desion-check">
                                                                                                                                Status
                                                                                                                            </p>
                                                                                                                            <label
                                                                                                                                class="containerdision mt-3">Pending
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    value="pending"
                                                                                                                                    (change)="selectFilter($event.target,'decision')">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
                                                                                                                            <label
                                                                                                                                class="containerdision mt-3">Issue
                                                                                                                                <input
                                                                                                                                    type="checkbox"
                                                                                                                                    value="issue"
                                                                                                                                    (change)="selectFilter($event.target,'decision')">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
    
    
    
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <!-- <div class="tab-pane fade"
                                                                                                                        id="v-pills-ads9"
                                                                                                                        role="tabpanel"
                                                                                                                        aria-labelledby="v-pills-ads9-tab">
                                                                                                                        <div
                                                                                                                            class="decisionFilter-Hd">
                                                                                                                            <p
                                                                                                                                class="hd-desion-check">
                                                                                                                               Pipeline
                                                                                                                            </p>
                                                                                                                            <label
                                                                                                                                class="containerdision mt-3">Non-Utility permits
                                                                                                                                <input
                                                                                                                                    type="checkbox" value="non_utility_permits" (change)="selectFilter($event.target,'decision')"
                                                                                                                                    >
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
                                                                                                                            <label
                                                                                                                                class="containerdision">Utility permits
                                                                                                                                <input
                                                                                                                                    type="checkbox" value="utility_permits" (change)="selectFilter($event.target,'decision')">
                                                                                                                                <span
                                                                                                                                    class="checkmarkdision"></span>
                                                                                                                            </label>
    
                                                                                                                            <label
                                                                                                                            class="containerdision">Pending Review
                                                                                                                            <input
                                                                                                                                type="checkbox" value="pending_review" (change)="selectFilter($event.target,'decision')">
                                                                                                                            <span
                                                                                                                                class="checkmarkdision"></span>
                                                                                                                        </label>
                                                                                                                           
                                                                                                                           
                                                                                                                        </div>
                                                                                                                    </div> -->
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="pipeline-border">
                                                                                                        <div class="row">
                                                                                                            <div
                                                                                                                class="col-12">
                                                                                                                <div
                                                                                                                    class="clearallapplyBtn">
                                                                                                                    <!-- <button
                                                                                                                        class="btnfltr">Clear
                                                                                                                        All</button> -->
                                                                                                                    <button
                                                                                                                        class="btnaply"
                                                                                                                        (click)="getAllApplication(1)">Apply</button>
                                                                                                                </div>
                                                                                                            </div>
    
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>

                                                                            <div class="col-2 exportBtn">
                                                                                <div class="New-Project"><button type="button" (click) ="exportCSV()"  target="_blank">
                                                                                        <span><img
                                                                                                src="../assets/images/upload-index.svg"
                                                                                                alt=""></span>
                                                                                        Export
                                                                                    </button></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="row">
                                                                        <div class="col-12 filter_tbl">
                                                                            <div class="table-permit">
                                                                                <table class="table table-bordered ">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Ref No</th>
                                                                                            <!-- <th>Address</th> -->
                                                                                            <th>License Plate</th>
                                                                                            <th>From</th>
                                                                                            <th>To</th>
                                                                                            <th>Decision Status</th>

                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr
                                                                                            *ngFor="let permit of allApplications | paginate: {itemsPerPage: offset, currentPage: currentPage, totalItems: totalPagination};">
                                                                                            <td [class]="permit?.is_read_by_admin == '1' ? 'refTxt pointer':'refTxt pointer circle-round'">
                                                                                                <a
                                                                                                    (click)="navigateDetailsPage(permit?.id)">{{permit?.reference_no}}</a>
                                                                                            </td>
                                                                                            <!-- <td>
                                                                                                    {{permit?.applicant_details?.applicant_job_location}}
                                                                                                </td> -->
                                                                                            <td>{{permit?.application_vehicles?.license_plate}}
                                                                                            </td>
                                                                                            <td>{{permit?.application_vehicles?.from | date}}
                                                                                            </td>
                                                                                            <td>{{permit?.application_vehicles?.to | date}}
                                                                                            </td>
                                                                                            <td [class] =" (permit?.decision == 2 || permit?.decision  == 3)? 'submited-Btn green-txt-2':permit?.decision == 1 ? 'submited-Btn red-txt-2':'submited-Btn red-txt-2'" > <button>{{permit?.decision == 2 ? 'Accept':permit?.decision == 3 ? 'Issue Permit':permit?.decision == 1 ? 'Submission Incomplete' :'Pendinng' }}
                                                                                            </button>
                                                                                            </td>




                                                                                        </tr>

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <pagination-controls
                                                                        (pageChange)="paginate($event,1,'')">
                                                                    </pagination-controls>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </router-outlet>
</app-auth-layout>=