<!-- <app-auth-layout>
  <router-outlet> -->
<div class="body_bg">
  <div class="process_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 topbar_process">
          <!-- <div class="same_spacebox">
                <div class="logo_process">
                  <a href="#"> <img src="/assets/images/process-logo.png" alt="" /> </a>
                </div>

              <div class="progress_step">
                        <div  data-value="16.67"></div>
                      </div> 
              </div> -->
        </div>
      </div>

      <form (submit)="onSubmit()" name="registerForm" [formGroup]="registerForm">
        <section class="dept-portal">
          <div class="bdp-box">
            <div class="container p-0">
              <div class="row">
                <div class="col-12">
                  <div class="bdp-logo">
                    <h2>BDP</h2>
                    <h3>Building Dept Portal</h3>
                  </div>

                  <div class="sign-in">
                    <h4>Create you account here!</h4>
                    <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                          invidunt ut labore et dolore</p> -->
                  </div>

                </div>
              </div>


              <div class="bdp_email">
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <input type="text" id="rname2" class="form-control" formControlName="first_name"
                        class="form-control"
                        [class]="first_name.invalid && (first_name.dirty || first_name.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                        required>
                      <label
                        [class]="first_name.invalid && (first_name.dirty || first_name.touched || isSubmit) ? ' msg form-control-placeholder' : 'form-control-placeholder'"
                        for="rname2">First Name</label>
                      <div class="form-error"
                        *ngIf="first_name.invalid && (first_name.dirty || first_name.touched || isSubmit)">
                        <span *ngIf="first_name.errors['required']">
                          Please enter your First name
                        </span>
                        <span *ngIf="first_name.errors['minlength']">
                          Please enter a First Name no more than 250 characters.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <input type="text" id="last_name" class="form-control" formControlName="last_name" id="last_name"
                        class="form-control"
                        [class]="last_name.invalid && (last_name.dirty || last_name.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                        required>
                      <label
                        [class]="last_name.invalid && (last_name.dirty || last_name.touched || isSubmit) ? ' msg form-control-placeholder' : 'form-control-placeholder'"
                        for="last_name">Last Name</label>
                    </div>
                    <div class="form-error"
                      *ngIf="last_name.invalid && (last_name.dirty || last_name.touched || isSubmit)">
                      <span *ngIf="last_name.errors['required']">
                        Please enter your Last name
                      </span>
                      <span *ngIf="last_name.errors['minlength']">
                        Please enter a Last Name more than 3 characters.
                      </span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="new-passwordInput">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" id="Email2" class="form-control" class="form-control check-in"
                        formControlName="email"
                        [class]="email.invalid && (email.dirty || email.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                        required>
                      <label
                        [class]="email.invalid && (email.dirty || email.touched || isSubmit) ? ' msg form-control-placeholder' : 'form-control-placeholder'"
                        for="Email2">Email</label>
                    </div>
                  </div>
                </div>
                <div class="form-error" *ngIf="email.invalid && (email.dirty || email.touched || isSubmit)">
                  <span *ngIf="email.errors['required']">
                    Please enter your Email                  </span>
                  <span *ngIf="email.errors['maxlength']">
                    Please enter a Email no more than 250 characters.
                  </span>
                  <span *ngIf="email.errors['pattern']">
                    Please enter a valid Email .
                  </span>
                </div>
              </div>

              <div class="new-passwordInput creat-pass ">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input type="{{type}}" id="password" (input)="passwordMatch('pass')" formControlName="password"
                        id="password" class="form-control password"
                        [class]="password.invalid && (password.dirty || password.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                        required>
                      <label
                        [class]="password.invalid && (password.dirty || password.touched || isSubmit) ? ' msg form-control-placeholder' : 'form-control-placeholder'"
                        for="password">Password</label>

                      <span class="eyeSlash-icon" (click)="typeChange(!isPasswordShow,'pass')">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        <!-- <i class="fa fa-eye" aria-hidden="true"></i> -->
                      </span>

                    </div>
                  </div>
                </div>
                <div class="form-error" *ngIf="password.invalid && (password.dirty || password.touched || isSubmit)">
                  <span *ngIf="password.errors['required']">
                    Please enter a Password
                  </span>
                  <span *ngIf="password.errors['minLength']">
                    Password should be at least 6 characters long                  </span>
                </div>
              </div>
              <div class="new-passwordInput creat-pass">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input type="{{cnfType}}" id="conform-password" (input)="passwordMatch('conpass')"
                        class="form-control" formControlName="confirmPassword"
                        [class]="confirmPassword.invalid  &&  (confirmPassword.dirty || confirmPassword.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                        class="form-control password" required>
                      <label
                        [class]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || isSubmit) ? ' msg form-control-placeholder' : 'form-control-placeholder'"
                        for="conform-password">Confirm Password</label>
                      <span class="eyeSlash-icon" (click)="typeChange(!isCNFPassword,'cnf')">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        <!-- <i class="fa fa-eye" aria-hidden="true"></i> -->
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-error"
                  *ngIf="confirmPassword.invalid  && (confirmPassword.dirty || confirmPassword.touched || isSubmit)">
                  <span>
                    Password Not Matched
                  </span>
                </div>
              </div>

              <div class="term-use">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="trems">
                      <label class="container-btn">
                        I you agree.<a href="#"> Terms of Use &amp; Privacy Policy </a>
                        <input type="checkbox" formControlName="agree" id="agree"
                          [class]="agree.invalid && (isSubmit) ? 'radio-class form-group-error' : 'radio-class'">
                        <span class="check-m"></span>
                        <span class="radio-class" *ngIf=" agree.invalid && (isSubmit)" class="form-error">Please accept
                          term && condition</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="account">
                      <h3>Already have an account? <a [routerLink]="['/']"> Sign in </a></h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="btn-sign-in ">
                <div class="row">
                  <div class="col-12 mb-5">
                    <button type="submit mb-5">Register</button>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </section>

        <!-- <div class="form_section">
              <div class="row justify-content-between sign-up  step3 sign-up">
                <div class="col-lg-7 bg_colorwhite">
                  <div class="center_stepprocess">

                    <div class="heading_what">
                      <h2>Getting Started</h2>
                      <p>
                        It will take less than a minute to fill.
                      </p>
                    </div>

                    <div class="form_process">

                      <div class="form_boxbuyer">
                        <div class="form-group sign-up col-12 p-0">
                          <div class="row">
                            <div class="col-6">
                              <label for="typeowner">First Name</label>
                              <input type="text" formControlName="first_name" id="first_name" class="form-control"
                                [class]="first_name.invalid && (first_name.dirty || first_name.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                                placeholder="First Name">
                              <div class="form-error"
                                *ngIf="first_name.invalid && (first_name.dirty || first_name.touched || isSubmit)">
                                <span *ngIf="first_name.errors['required']">
                                  Please select a First Name
                                </span>
                                <span *ngIf="first_name.errors['minlength']">
                                  Please enter a First Name no more than 250 characters.
                                </span>
                              </div>
                            </div>
                            <div class="col-6">
                              <label for="typeowner">Last Name</label>
                              <input type="text" formControlName="last_name" id="last_name" class="form-control"
                                [class]="last_name.invalid && (last_name.dirty || last_name.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                                placeholder="Last Name">
                              <div class="form-error"
                                *ngIf="last_name.invalid && (last_name.dirty || last_name.touched || isSubmit)">
                                <span *ngIf="last_name.errors['required']">
                                  Please select a Last Name
                                </span>
                                <span *ngIf="last_name.errors['minlength']">
                                  Please enter a Last Name more than 3 characters.
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="monxhwedey">Email Address</label>
                          <input type="text" class="form-control check-in" formControlName="email" id="email"
                            [class]="email.invalid && (email.dirty || email.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                            placeholder="abc@example.com">
                          <span class="input-icon-check" *ngIf="!email.invalid"></span>

                        </div>
                        <div class="form-error" *ngIf="email.invalid && (email.dirty || email.touched || isSubmit)">
                          <span *ngIf="email.errors['required']">
                            Please select a Email
                          </span>
                          <span *ngIf="email.errors['maxlength']">
                            Please enter a Email no more than 250 characters.
                          </span>
                          <span *ngIf="email.errors['pattern']">
                            Please enter a valid Email .
                          </span>
                        </div>

                        <div class="form-group">
                          <label for="ownernumber">Phone Number</label>
                          <input type="text" class="form-control check-in" formControlName="phoneNumber"
                            [class]="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                            id="phoneNumber" placeholder="201-456-8897">
                          <span class="input-icon-check" *ngIf="!phoneNumber.invalid"></span>

                        </div>
                        <div class="form-error"
                          *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched || isSubmit)">
                          <span *ngIf="phoneNumber.errors['required']">
                            Please select a Phone Number
                          </span>
                          <span *ngIf="phoneNumber.errors['maxlength']">
                            Invalid Phone Number
                          </span>
                          <span *ngIf="phoneNumber.errors['minLength']">
                            Invalid Phone Number
                          </span>
                        </div>

                        <div class="form-group">
                          <label for="emailbox">Password</label>
                          <input type="password" formControlName="password" id="password" class="form-control password"
                            [class]="password.invalid && (password.dirty || password.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                            placeholder="*****************">
                        </div>
                        <div class="form-error"
                          *ngIf="password.invalid && (password.dirty || password.touched || isSubmit)">
                          <span *ngIf="password.errors['required']">
                            Please select a Password
                          </span>
                          <span *ngIf="password.errors['minLength']">
                            Please enter a Password more than 6 characters.
                          </span>
                        </div>

                        <div class="form-group">
                          <label for="emailbox">Confirm Password</label>
                          <input type="password" formControlName="confirmPassword" id="confirmPassword"
                            (input)="pwdMatchValidator()"
                            [class]="confirmPassword.invalid  &&  (confirmPassword.dirty || confirmPassword.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                            class="form-control password" placeholder="*****************">
                        </div>
                        <div class="form-error"
                          *ngIf="confirmPassword.invalid  && (confirmPassword.dirty || confirmPassword.touched || isSubmit)">
                          <span>
                            Password Not Matched
                          </span>
                        </div>

                        <div class="form-group">
                          <label for="other_detail" class="add-detail">Address</label>
                          <textarea class="form-control" rows="3" formControlName="address" id="address"
                            [class]="address.invalid && (address.dirty || address.touched || isSubmit) ? 'form-control form-group-error' : 'form-control'"
                            placeholder="Address"></textarea>
                        </div>
                        <div class="form-error"
                          *ngIf="address.invalid && (address.dirty || address.touched || isSubmit)">
                          <span *ngIf="address.errors['required']">
                            Please select a Address
                          </span>
                          <span *ngIf="address.errors['minLength']">
                            Please enter a Address more than 6 characters.
                          </span>
                        </div>
                        <div class="methode-check sign-up conditions d-flex">
                          <div class="radio">
                            <div class="radio-main d-flex">
                              <input type="checkbox" formControlName="agree" id="agree">
                              <span class="radio-class"
                                [class]="agree.invalid && (isSubmit) ? 'radio-class form-group-error' : 'radio-class'"></span>
                              <p><span>I you agree to</span> COOP's<a class="pop-click" href="#">Terms of Use
                                  & Privacy Policy</a></p>
                              <h6 class="log-in">Already have an account? <a [routerLink]="['/auth/login']">Log In</a>
                              </h6>
                            </div>
                          </div>
                        </div>

                        <button type="submit" class="btn register">Register</button>

                      </div>

                    </div>

                  </div>
                </div>

                <div class="col-lg-5">
                  <div class="rightbar_aria">
                    <div class="picture_sale">
                      <img src="/assets/images/Group4045.png" alt="" />

                    </div>
                  </div>
                </div>

              </div>
            </div> -->
      </form>
    </div>
  </div>

</div>
<!-- </router-outlet>
</app-auth-layout> -->