<app-layout>
    <router-outlet>

        <section class="permittm">
            <div class="box-engrining">
            
            <div class="container">
                <div class="row">
                    <div class="col-3">
            <div class="engin-txt">
                <h1><img src="assets/images/p1.svg" alt=""></h1>
              <h2>Engineering permits</h2>  
              <p>These permits are required to open a city street for construction or to store construction equipment and or dumpsters on the street or sidewalk.</p>
            <button class="btn-slect" (click) = "navigateToTab()">Continue</button>
            </div>
            
                    </div>
              
                    <div class="col-3">
                        <div class="engin-txt">
                            <h1><img src="assets/images/p2.svg" alt=""></h1>
                          <h2>Meter Permits /Tap</h2>  
                          <p>These permits are required to open a city street for construction or to store construction equipment and or dumpsters on the street or sidewalk.</p>
                        <button class="btn-slect">Continue</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="engin-txt">
                            <h1><img src="assets/images/p3.svg" alt=""></h1>
                          <h2>Hydrant Permits</h2>  
                          <p>These permits are required to open a city street for construction or to store construction equipment and or dumpsters on the street or sidewalk.</p>
                        <button class="btn-slect">Continue</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="engin-txt">
                            <h1><img src="assets/images/p4.svg" alt=""></h1>
                          <h2>OverSized Vehicles</h2>  
                          <p>These permits are required to open a city street for construction or to store construction equipment and or dumpsters on the street or sidewalk.</p>
                        <button class="btn-slect">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
            </section>
    </router-outlet>
</app-layout>