* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'gilroy-regular';
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #000000;
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #000000;
    transition: all 0.5s ease;
}

input,
textarea,
select {
    -webkit-appearance: none;
    font-size: 13px;
    color: #3a3a3a;
    vertical-align: middle;
    font-family: 'Poppins-Regular';
    outline: none;
}

input[type="button"] {
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: 'gilroy-regular';
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

button:focus {
    outline: none !important;
}

label {
    margin-bottom: 0px !important;
}

.form-group {
    margin-bottom: 0px !important;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.ttf"), url("../fonts/Gilroy-Regular.woff"), url("../fonts/Gilroy-Regular.otf"), url("../fonts/Gilroy-Regular.eot");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf"), url("../fonts/Poppins-Light.woff"), url("../fonts/Poppins-Light.otf"), url("../fonts/Poppins-Light.eot");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    src: url("../fonts/Poppins-ExtraLight.ttf"), url("../fonts/Poppins-ExtraLight.woff"), url("../fonts/Poppins-ExtraLight.otf"), url("../fonts/Poppins-ExtraLight.eot");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf"), url("../fonts/Poppins-Medium.woff"), url("../fonts/Poppins-Medium.otf"), url("../fonts/Poppins-Medium.eot");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf"), url("../fonts/Poppins-SemiBold.woff"), url("../fonts/Poppins-SemiBold.otf"), url("../fonts/Poppins-SemiBold.eot");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf"), url("../fonts/Poppins-Bold.woff"), url("../fonts/Poppins-Bold.otf"), url("../fonts/Poppins-Bold.eot");
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('../fonts/Gilroy-Regular'), url('../fonts/Gilroy-Regular.otf');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: local('../fonts/Gilroy-Regular'), url('../fonts/Gilroy-SemiBold.otf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('../fonts/Gilroy-Medium'), url('../fonts/Gilroy-Medium.otf');
}

@font-face {
    font-family: 'Gilroy-bold';
    src: local('../fonts/Gilroy-bold'), url('../fonts/Gilroy-Bold.otf');
}





header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #BEC2FF00;
    border: 1px solid #00000026;
    width: 100%;
    height: 100px;
    padding: 24px 0px;
}

.search-box {
    display: flex;
}

.search-box h2 {
    font-family: 'Gilroy-bold';
    font-size: 28px;
    line-height: 30px;
    display: inline-block;
    color: #282D5B;
    padding: 9px 0px;
}

.search-box h3 input {
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
}

.bdp-box {
    max-width: 567px;
    margin: 0 auto;

}

.bdp-logo h2 {
    color: #4AB5F1;
    font-size: 40px;
    font-family: 'Gilroy-bold';
    line-height: 37px;
    display: inline-block;
}

.bdp-logo h3 {
    font-size: 23px;
    color: #4AB5F1;
    font-family: 'gilroy-regular';
    margin-top: 6px;
}

.sign-in h4 {
    color: #282D5B;
    font-family: 'Gilroy-bold';
    font-size: 37px;
    line-height: 49px;
    margin-top: 42px;
}

.sign-in p {
    color: #282D5B;
    font-size: 16px;
    font-family: 'gilroy-regular';
    max-width: 476px;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 18px;
    line-height: 26px;
}

.bdp_email {
    margin-top: 55px;
}

.bdp_email input {
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 0px !important;
    padding: 18px 24px;
    border: 0.5px solid #282D5B;
    font-weight: normal;
    font-family: 'gilroy-regular';
    font-size: 18px;
    line-height: 27px;
    color: #282D5BCC;
}

.new-passwordInput {
    margin-top: 45px;
}

.new-passwordInput input {
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 0px !important;
    padding: 18px 24px;
    border: 0.5px solid #282D5B;
    font-weight: normal;
    font-family: 'gilroy-regular';
    font-size: 18px;
    line-height: 27px;
    color: #282D5BCC;
}

.form-group {
    position: relative;

}

.form-control-placeholder {
    position: absolute;
    top: 18px;
    left: 24px;
    font-size: 18px;
    padding: 0px 0 0 0px;
    transition: all 200ms;
    font-family: 'Poppins-Regular';
    opacity: 0.6;
}

.form-control:valid+.form-control-placeholder {
    font-size: 16px;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background: white;
    color: #282D5B;
    top: 13px;
    display: inline-block;
    left: 13px;
    padding: 0px 6px 2px 5px;
}

.form-control:focus+.form-control-placeholder {
    font-size: 16px;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background: white;
    color: #4AB5F1;
    top: 13px;
    display: inline-block;
    left: 13px;
    padding: 0px 6px 2px 5px;
}

.forget-text {
    margin-top: 17px;
    text-align: left;
}

.forget-text h4 {
    color: #4AB5F1;
    font-size: 18px;
    font-family: 'gilroy-medium';
    line-height: 21px;
    cursor: pointer;
    display: inline-block;
}

.btn-sign-in {
    margin-top: 38px;
}

.btn-sign-in button {
    font-family: 'gilroy-medium';
    font-size: 18px;
    line-height: 21px;
    background: #4AB5F1;
    width: 100%;
    border: none;
    color: #fff;
    padding: 16px 0px 23px 0px;
    cursor: pointer;
}

.border-topline {
    width: 100%;
    margin: 41px 0px;
    border-top: 1px solid #DBDBDB !important;
}

.profile-Hd h3 {
    color: #000000D4;
    font-family: 'gilroy-medium';
    font-size: 22px;
    line-height: 25px;
    text-align: left;
}

.profile-Hd p {
    color: #00000099;
    text-align: left;
    font-family: 'gilroy-regular';
    font-size: 16px;
    line-height: 26px;
    max-width: 440px;
    margin-top: 17px;
}


.profile-Hd h4 {
    color: #000000D4;
    font-family: 'gilroy-medium';
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin-top: 23px;
    cursor: pointer;
}

.profile-Hd h4 span {
    margin-left: 12px;
}

.dept-portal {
    margin: 62px 0px 129px 0px;
}

.creat-pass {
    margin-top: 30px !important;
}


/* The container */
.container-btn {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #282D5B;
    line-height: 20px;
    font-family: 'Gilroy-Regular';
}

/* Hide the browser's default checkbox */
.container-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container-btn a {
    font-family: 'Gilroy-Medium';
    color: #282D5B;
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
}

/* Create a custom checkbox */
.check-m {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-btn:hover input~.check-m {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-btn input:checked~.check-m {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-m:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-btn input:checked~.check-m:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-btn .check-m:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.term-use {
    margin-top: 32px;
}

.trems {
    text-align: left;

}

.account h3 {
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    color: #282D5B;
}

.account h3 a {
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 26px;
    color: #282D5B;
    cursor: pointer;
}

.header-input {
    position: relative;
}

.header-input span {
    position: absolute;
    left: 18px;
    top: 16px;
    font-size: 16px;
    color: #282D5B;

}

.header-input input {
    width: 100%;
    height: 50px;
    background: #F4F4F7;
    border: none;
    padding: 14px 20px 14px 45px;
}
.tbl-search-box input{
    height: 40px;
}
.tbl-search-box span{
    top: 10px;
}
.profile-header {
    display: flex;
    justify-content: flex-end;
    padding: 6px 0px;
}

.bellImg {
    margin-right: 54px;
    padding: 14px 0px;
}

.userImg img {
    width: 42px;
    height: 42px;
    margin-right: 18px;
}

.userTxt {
    color: #282D5B;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    line-height: 16px;
    cursor: pointer;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #282D5B;
    border-radius: 21px;
    padding: 10px 16px;
}

.userTxt span {
    margin-left: 5px;
}

.userTxt img {
    width: 13px;
    height: 13px;
    margin-right: 3px;
}

.massegeImg {
    margin-right: 54px;
    padding: 14px 0px;
}

.back-txt {
    margin-top: 39px;
}

.back-txt h3 {
    color: #282D5B8C;
    font-family: "Poppins-Medium";
    font-size: 18px;
    line-height: 42px;
    cursor: pointer;
    margin-left: 9px;
}

.back-txt h3 span {
    margin-right: 9px;
}

.table-Box {
    padding: 30px 25px 25px 25px;
    margin-top: 22px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000012;
}

.permit-Hd {
    color: #282D5B;
    font-family: 'Gilroy-bold';
    font-size: 28px;
    line-height: 33px;
}

.New-Project {
    text-align: right;
}

.New-Project button {
    background: #4AB5F1 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #4AB5F12E;
    color: #FFFFFF;
    border: none;
    font-family: 'gilroy-regular';
    font-size: 14px;
    line-height: 20px;
    padding: 11px 17px;
}

.New-Project button span {
    margin-right: 6px;
}

.table-permit {
    margin-top: 31px;
}

.table-permit table {
    width: 100%;
}

.table-permit table th {
    border: 0;
    color: #282D5B;
    padding: 24px 10px 23px 30px;
    font-family: "Poppins-SemiBold";
    font-size: 13px;
    line-height: 25px;
}

.table-permit table td {
    padding: 30px;
    padding: 30px;
    font-size: 14px;
    line-height: 21px;
    border-right: 0px;
    font-family: 'Poppins-Regular';
    border-left: 0px;
    vertical-align: middle;
    color: #282D5B80;
}

.table-permit table td.refTxt {
    color: #4AB5F1;
    font-family: 'gilroy-medium';
    font-style: 15px;
    line-height: 18px;
    text-decoration: underline;
}

.table-permit table td.submited-Btn button {
    border: 1px solid #D81D37;
    border-radius: 19px;
    color: #D81D37;
    background: none;
    font-size: 12px;
    line-height: 22px;
    padding: 5px 16px 4px 17px;
    font-family: 'Poppins-Regular';
    display: inline-block;
}

.table-permit table td.update-txt span {
    background: #2AABFA 0% 0% no-repeat padding-box;
    border-radius: 7px;
    color: #fff;
    padding: 2px 8px;
    cursor: pointer;
}

.table-sec {
    margin-bottom: 122px;
}

.bdp-logo,
.sign-in {
    text-align: center;
}

.tabber {
    margin: 0 auto;
    max-width: 983px;
    margin-top: 60px;
}

.tab-sec ul li a.active {
    color: #4AB5F1;
    font-family: "Poppins-Medium";
}

.tab-sec ul li a span {
    margin: 0px 19px;
    color: #282D5B;
}

.tab-sec ul li a {
    font-family: "Poppins-Medium";
    font-size: 18px;
    color: #00183980;
    display: block;
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

.tab-sec ul li a:hover {
    text-decoration: none;
}

.what-box {
    max-width: 983px;
    margin: 0 auto;
    display: block;
    margin-top: 38px;
}

.what-bg {
    background: #FFFFFF;
    border: 1px solid #00000012;
    padding: 40px 30px;

}
.what-bg1 {
    background: #FFFFFF;
   
    padding: 40px 30px;

}

.txt-whate h3 {
    color: #282D5B;
    font-family: "Poppins-Bold";
    font-size: 28px;
    line-height: 42px;
    border-bottom: 0.5px solid #00000042;
    padding-bottom: 17px;
}

.property {
    margin-top: 34px;
}

.property select {
    width: 100%;
    height: 60px;
    padding: 17px 28px 17px 28px;
    color: #282D5B;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    line-height: 27px;
    border: 0.5px solid #A9B8C1B0;
}

.property label {
    color: #001839;
    font-family: "Poppins-Medium";
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 12px;
}

.Type select {
    width: 100%;
    height: 60px;
    padding: 17px 28px 17px 28px;
    color: #282D5B;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    line-height: 27px;
    border: 0.5px solid #A9B8C1B0;
}

.Type label {
    font-family: "Poppins-Medium";
    font-size: 16px;
    line-height: 22px;
    color: #000000CC;
    margin-top: 24px;
    padding-bottom: 11px;
}

.Type .form-group {
    position: relative;
}

.Type .form-group span {
    position: absolute;
    top: 77px;
    color: #282D5B;
    right: 18px;
    font-size: 18px;
}

.property .form-group {
    position: relative;
}

.property .form-group span {
    position: absolute;
    top: 53px;
    color: #282D5B;
    right: 18px;
    font-size: 18px;
}

.permittm {
    padding: 80px 0px 50px 0px;
    background: #F9FAFB;

}

.box-engrining {
    background: #fff;
    padding: 37px 0px 37px 40px;
    max-width: 1095px;
    margin: 0 auto;
    display: block;
}

.engin-txt h1 {
    border-radius: 50%;
    text-align: center;
    line-height: 77px;
    width: 77px;
    height: 77px;
    background: transparent linear-gradient(147deg, #FFFFFF 0%, #D5E4F8 100%) 0% 0% no-repeat padding-box;
}

.engin-txt h2 {
    color: #282D5B;
    font-family: "Poppins-Bold";
    font-size: 20px;
    line-height: 28px;
    margin-top: 21px;
    max-width: 164px;

}

.engin-txt p {
    font-size: 14px;
    line-height: 22px;
    color: #19154C;
    font-family: 'Poppins-Regular';
    margin-top: 14px;
    max-width: 198px;
}

.engin-txt button {
    background: #4AB5F1 0% 0% no-repeat padding-box;
    border-radius: 12px;
    color: #fff;
    border: none;
    padding: 12px 61px;
    margin-top: 38px;
}

.engin-txt button.btn-slect {
    background: #EDF7FE;
    color: #4AB5F1;
}

.engin-txt button.btn-slect:hover {
    background: #4AB5F1 0% 0% no-repeat padding-box;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

.saveTxt {
    font-family: 'Poppins-Regular';
    font-size: 18px;
    line-height: 27px;
}

.curbInput {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000033;
}

.bg-color {
    background: #F9FAFB;
}

/* The container */
.clickbox {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.clickbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #D8E7FF;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.clickbox input:checked~.checkbox {
    background-color: #4AB5F1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.clickbox input:checked~.checkbox:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.clickbox .checkbox:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.roll-txt {
    padding: 20px 0px;
}

.roll-txt label {
    color: #001839CC;
    font-family: "Poppins-Medium";
    font-size: 14px;
    line-height: 20px;

}

.btn-pre {
    margin-top: 40px;
    text-align: right;
}

.btn-pre button.continue {
    background: #4AB5F1;
    color: #fff;
    font-family: 'Poppins-Regular';
    padding: 13px 20px 12px 22px;
    border: none;
}

.btn-pre button {
    color: #4AB5F1;
    background: #fff;
    border: 1px solid #282D5B4F;
    font-family: 'Poppins-Regular';
    padding: 12px 22px;
    margin-right: 30px;
    cursor: pointer;
}

.saveTxtbtn button {
    color: #4AB5F1;
    border: 1px solid #282D5B4F;
    background: #fff;
    padding: 12px 18px;
    font-family: 'Poppins-Regular';
    cursor: pointer;
}

.where-bg {
    background: #FFFFFF;
    border: 1px solid #00000012;
    padding: 40px 30px;
}

.job-location-Hd h3 {
    color: #001839;
    font-family: "Poppins-Bold";
    font-size: 28px;
    line-height: 42px;
    border-bottom: 0.5px solid #00000042;
    padding-bottom: 17px;
}

.location-type-tab h3 {
    color: #001839;
    font-size: 16px;
    line-height: 18px;
    font-family: "Poppins-SemiBold";
    margin-top: 30px;
}

.adrees-tab nav a.active {
    border: 0.5px solid #4AB5F1;
    color: #4AB5F1D9;
    text-align: center;
    width: 158px;
    height: 50px;
    font-family: 'gilroy-medium';
    font-size: 14px;
    line-height: 50px;
}

.adrees-tab nav a.active:hover {
    text-decoration: none;
}

.adrees-tab nav a:hover {
    text-decoration: none;
}

.adrees-tab nav a {
    border: 0.5px solid #00183966;
    color: #00183966;
    font-family: 'gilroy-medium';
    font-size: 14px;
    line-height: 50px;
    width: 158px;
    height: 50px;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.adrees-tab {
    margin-top: 10px;
}

.job-input {
    margin-top: 42px;
}

.know_us {
    margin-top: 34px;
}

.know_us textarea {
    width: 100%;
    height: 60px;
    color: #282D5B;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins-Regular';
    resize: none;
    padding: 14px 16px;
    border: 0.5px solid #A9B8C1B0;
}

.know_us label {
    color: #001839;
    font-family: "Poppins-Medium";
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
}

.know_us textarea::placeholder {
    color: #00183966;
    font-size: 16px;
    line-height: 22px;

    font-family: 'Poppins-Regular';
}

.loction-adInput {
    margin: 0;
    padding: 0;
}

.loction-adInput input {
    border: 0.5px solid #282D5B99;
    color: #282D5B;
}

.loction-adInput .form-control:valid+.form-control-placeholder {
    font-size: 16px;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background: white;
    color: #282D5B;
    top: 13px;
    display: inline-block;
    left: 13px;
    padding: 0px 6px 2px 5px;
}

.loction-adInput.form-control:focus+.form-control-placeholder {
    font-size: 16px;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background: white;
    color: #4AB5F1;
    top: 13px;
    display: inline-block;
    left: 13px;
    padding: 0px 6px 2px 5px;
}

.app-details {
    margin-top: 47px;
}

.bussiness-input {
    margin-top: 40px;
}



/*start errrr-css */

.dummyinpt input:focus {
    border: 0.5px solid #C10000;
}

.dummyinpt .form-control:valid+.form-control-placeholder {
    font-size: 16px;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background: white;
    color: #282D5B;
    top: 13px;
    display: inline-block;
    left: 13px;
    padding: 0px 6px 2px 5px;
}

.dummyinpt .form-control:focus+.form-control-placeholder {
    font-size: 16px;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background: white;
    color: #C10000;
    top: 13px;
    display: inline-block;
    left: 13px;
    padding: 0px 6px 2px 5px;
}

.dummyinpt .form-group span {
    color: #C10000;
    font-size: 16px;
    line-height: 22px;
    padding-left: 26px;
    font-family: 'Poppins-Regular';
    top: 10px;
    position: relative;
}

/*End errrr-css */



.dropdown-text {
    position: relative;
}

.drop-content {
    display: none;
    top: 48px;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
}

.drop-content a {
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins-Regular';
    cursor: pointer;
}

.kapil {
    padding-top: 60px;
}

.drop-content a:hover {
    background-color: #ddd;
}

.dropdown-text:hover .drop-content {
    display: block;
}

.loction-adInput span.dont-txt {
    font-size: 15px;
    font-family: 'Poppins-Regular';
    color: #4AB5F1;
    float: right;
}

.job-location-Hd span{
    display: block;
    color: #001839;
    font-family: "Poppins-Medium";
    font-size: 15px;
    line-height: 21px;
}

.lbl-txt .form-group label{
    background: #fff;
    position: relative;
    top: 22px;
    left: 30px;
    padding-left: 7px;
    padding-right: 7px;
    color: #282D5B99;
}
.imact-trafic{margin-top: 22px;}
.imact-trafic input{
    border: 0.5px solid #A9B8C1B0;
}
.imact-trafic .lenth-pt {
    margin-top: 32px;
}

.imact-trafic label.detaild-txt{
    font-size: 16px;
    line-height: 22px;
    color: #001839;
    font-family: "Poppins-Medium";
    padding-bottom: 10px;
}
.imact-trafic textarea{
    width: 100%;
    border: 0.5px solid #A9B8C1B0;
    resize: none;
    height: 157px;
    padding: 14px 17px;
}
.imact-trafic textarea::placeholder{
    color: #00183966;
    font-size: 16px;
    font-family: 'Poppins-Regular';
    line-height: 22px;
}
.img-upload-tbl table{
    border: 1px solid #00000012;
    margin-top: 21px;
}
.img-upload-tbl .table thead th {
    padding: 24px 30px 23px 30px;
    vertical-align: middle;
    color: #282D5B;
    font-family: "Poppins-SemiBold";
    border-bottom: 0px solid #dee2e6 !important;
}
.img-upload-tbl .table td{
padding: 30px;
font-family: 'Poppins-Regular';
color: #282D5B;
font-size: 14px;
line-height: 21px;
}
.img-upload-tbl .table td.plans{
    font-family: 'gilroy-medium';
    font-size: 15px;
    line-height: 18px;
    color: #282D5B;
    }

.img-upload-tbl .table td.upload-Btn button{
    background: #4AB5F1;
    font-family: 'Poppins-Regular';
    font-size: 12px;
    position: relative;
    line-height: 22px;
color: #fff;
border: none;
padding: 8px 17px;
}


.upload-Btn input{
    opacity: 0;
    position: absolute;
    width: 122px;
    left: 0;
    top: 0;
    height: 38px;
}
.img-upload-tbl .table td.upload-Btn button span{
    margin-right: 5px;
}
.review-form-box {
    margin: 0 auto;
    max-width: 504px;
    display: block;
}
.r-hd h3{
    color: #001839;
    font-family: "Poppins-Bold";
    font-size: 28px;
    line-height: 42px;
    text-align: center;
}
.r-hd  p{
    color: #001839;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    font-family: 'gilroy-medium';
}
.box-acordine {
    margin-top: 53px;
}
.box-acordine .card{
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
}
.box-acordine .card-header {
    background-color: #F8FBFE;
    border-bottom: 0px solid rgba(0,0,0,.125);
    padding: 10px 26px 20px 28px;
}

.box-acordine .card-header button.edit-icon {
    background: #2AABFA 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Poppins-Regular';
    margin-left: 15px;
}
.box-acordine button.what-btn {
color: #3E3F42;
background: none;
border: none;
font-family: "Poppins-SemiBold";
font-size: 18px;
line-height: 23px;
}
.card-header h2 span{
    float: right;
    font-size: 12px;
    border: 1px solid #A4A4A4;
    border-radius: 50%;
    width: 23px;
    text-align: center;
    height: 23px;
    line-height: 23px;
    margin-top: 13px;
    cursor: pointer;
}

.box-acordine .card{
    box-shadow: 2px 4px 12px #3D3D3D08;
    border: 0.5px solid #E3E4EA !important;
    border-radius: 6px !important;
}

.box-acordine .card-body{
    padding: 22px 27px;
}
.first-collepse-box h2{
font-size: 14px;
font-family: "Poppins-SemiBold";
line-height: 30px;
color: #000000D9;
}
.first-collepse-box p{
    color: #000000AB;
    font-family: 'Poppins-Regular';
    font-size: 12px;
}
.role-txt-collepse-two{
    margin-top: 26px;
}

.app-flex {
    display: flex;
    justify-content: space-between;
}

.drowing-tbl .table{
    border: 1px solid #00000012;
}
.drowing-tbl .table thead th{
    vertical-align: middle;
    border-bottom: 0px solid #dee2e6;
    padding: 24px 30px;
}
.drowing-tbl .table td{
    color: #282D5B;
    font-size: 16px;
    line-height: 19px;
    font-family: 'gilroy-medium';
    padding: 22px 30px 22px 30px;
    vertical-align: middle;
}
.passbook span{
    float: right;
    font-size: 26px;
    background: #EBEBEB;
    padding: 5px 12px;
    font-size: 26px;
    background: #EBEBEB;
    padding: 11px 20px;
    border-radius: 4px;
    color: #B1B1B1;
}

.successfully-box {
    margin: 0 auto;
    display: block;
    max-width: 825px;
}
.img-done {text-align: center;}
.img-done h1{
color: #282D5B;
font-family: "Poppins-Bold";
font-size: 36px;
line-height: 55px;
}
.img-done p{
    color: #282D5B;
    font-size: 20px;
    line-height: 33px;
    font-family: 'Poppins-Regular';
    margin-top: 20px;
}
.btn-grop{
    margin-top: 48px;
}
.btn-grop button.finish-btn{
    color: #4AB5F1;
    font-family: 'Poppins-Regular';
    font-size: 18px;
line-height: 27px;
border: 1px solid #282D5B4F;
padding: 12px 41px 13px 40px;
background: none;
}

.btn-grop button.download{
color: #fff;
font-family: 'Poppins-Regular';
font-size: 18px;
line-height: 27px;
border: none;
padding: 13px 18px 12px 25px;
background: #4AB5F1;
margin-left: 23px;
}

.pls-note {
background: #F8F8FA;
border: 1px solid #F8F8FA;
border-radius: 19px;
padding: 27px 65px 27px 66px;
margin-top: 69px;
}

.pls-note h4{
color: #282D5B;
font-family: "Poppins-SemiBold";
font-size: 26px;
line-height: 39px;

}

.pls-note p{
color: #282D5B;
font-size: 18px;
line-height: 32px;
font-family: 'Poppins-Regular';
}

.sp-box {
    margin-top: 51px;
    margin-bottom: 94px;
}

.bdp_email .new__select select{
width: 100%;
border: 0.5px solid #A9B8C1;
height: 60px;
font-family: 'Poppins-Regular';
font-size: 16px;
line-height: 22px;
padding: 19px 18px;
color: #00183966;
}

.bdp_email .new__select  span{
    position: absolute;
    top: 23px;
    right: 20px;
}

.dumpster-txt {
    color: #282D5B;
    font-family: "Poppins-Medium";
    font-size: 18px;
    line-height: 27px;
}

.dumpster-Img {
    color: #4AB5F1;
	font-family: 'gilroy-regular';
    font-size: 16px;
    line-height: 23px;
    text-align: right;
    cursor: pointer;
}
.dumpster-Img  span{
    margin-right: 10px;
}
.add-btn-compnay{
    margin-bottom: 19px;
    margin-top: 30px;
}

.compnay-tbl .table{
    border: 1px solid #00000012;
    background: #fff;
}

.compnay-tbl .table thead th{
    border-bottom: 0px solid #dee2e6;
    padding: 24px 0px 21px 24px;
    color: #282D5B;
    font-family: "Poppins-SemiBold";
}
.compnay-tbl .table td{
    padding: 24px 0px 29px 24px;
    vertical-align: middle;
    border-top: 1px solid #00000012;
    color: #282D5BB0;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    line-height: 22px;
}
.tbl_box {
    border: 1px solid #00000012;
    padding:29px 25px;
}


/* The container */
.container-name {
    position: relative;
    padding-left: 30px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 /* Hide the browser's default checkbox */
 .container-name input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }
 
 /* Create a custom checkbox */
 .checkmark-mail {
     position: absolute;
     top: 0;
     left: 0;
     box-shadow: 0px 1px 10px #8B8B8B1F;
     width: 20px;
     height: 20px;
     background-color: #fff;
     border-radius: 5px;
     border: 0.5px solid #8484846E;
 }
 
 
 
 /* When the checkbox is checked, add a blue background */
 .container-name input:checked ~ .checkmark-mail {
   background-color: #2196F3;
    border: 0.5px solid #2196F3;
   
 
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark-mail:after {
   content: "";
   position: absolute;
   display: none;
 }
 
 /* Show the checkmark when checked */
 .container-name input:checked ~ .checkmark-mail:after {
   display: block;
 }
 
 /* Style the checkmark/indicator */
 .container-name .checkmark-mail:after {
    left: 7px;
    top: 4px;
    height: 10px;
    width: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
 }
 .mail-shlok label span {
display: block;
font-size: 14px;
font-family: 'Poppins-Regular';
color: #282D5BB0;
 }
 .mail-shlok label {
     color: #282D5B;
     font-family: "Poppins-SemiBold";
     font-size: 14px;
 }

 .popup-dumpstar {
     max-width: 615px !important;
 }

 .text-addpopup {
     background: #fff;
     border-radius: 4px;
 }

 .text-addpopup{
     padding: 29px 24px;
 }
 .text-addpopup .close span{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    line-height: 30px;
    height: 30px;
    background: #F7F8F9;
    cursor: pointer;
    border-radius: 50%;
 }
 .text-addpopup h5{
     color:#282D5B;
     font-family: "Poppins-SemiBold";
     font-size: 24px;
     line-height: 35px;
 }

 .border-top-detals {
     border-top:1px solid #EAEDF3;
    margin-top: 14px;
    }

    .up-add {
        margin-top: 29px !important;
    }
    .up-add input{
        height: 42px !important;
        font-size: 14px;
    }

    .up-add  .form-control-placeholder {
        position: absolute;
        top: 11px;
        left: 17px;
        font-size: 14px;
        padding: 0px 0 0 0px;
        transition: all 200ms;
        font-family: 'Poppins-Regular';
        opacity: 0.6;
    }

    .up-add  .form-control:valid+.form-control-placeholder {
        font-size: 12px;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity: 1;
        background: white;
        color: #282D5B;
        top: 13px;
        display: inline-block;
        left: 14px;
        padding: 0px 6px 2px 5px;
    }

    .up-add  .form-control:focus+.form-control-placeholder {
        font-size: 14px;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity: 1;
        background: white;
        color: #4EB7F1;
        top: 13px;
        display: inline-block;
        left: 13px;
        padding: 0px 6px 2px 5px;
    }

    .popup-busnise {
        margin-top: 33px;
    }

    .pop-Btn button.continue{
        width: 104px;
    }   
    .pop-Btn button{
        border: none;
        color: #000;
    } 

    .updateprofile {
        padding: 80px 0px 50px 0px;
        background: #F9FAFB;
    }

    .box-engrining-2 {
        background: #fff;
        padding: 40px 35px 48px 35px;
        max-width: 983px;
        margin: 0 auto;
        display: block;
        border: 1px solid #00000012;
    }

.ld-txt {
    display: flex;
    justify-content: space-between;
}

.ld-txt h3{
    color: #282D5B;
    font-size: 28px;
    font-family: "Poppins-Bold";
    line-height: 42px;
}
.ld-txt h4 button.el-txt{
    color: #282D5B;
    font-size: 14px;
    font-family: 'gilroy-regular';
    padding: 11px 18px;
    background: none;
    border: 1px solid #D4D5DE;
border-radius: 2px;
margin-right: 18px;
}

.ld-txt h4 button.ail-btn{
    color: #282D5B;
    font-size: 14px;
    font-family: 'gilroy-regular';
    padding: 11px 18px;
    background: none;
    border: 1px solid #D4D5DE;
border-radius: 2px;

}

.ld-txt h4 button.ail-btn span{
    margin-right: 5px;
}

.ld-details .table{
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #00000012;
}

.ld-details .table thead th{
    vertical-align: middle;
    border-bottom: 0px solid #dee2e6;
    padding: 27px 0px 24px 39px;
    color:#282D5B;
    line-height: 22px;
    font-size: 13px;
    font-family: "Poppins-SemiBold";
}
.ld-details .table td{
    vertical-align: middle;
    border-top: 1px solid #00000012;
    padding: 29px 0px 29px 39px;
    font-family: 'Poppins-Regular';
    color: #282D5BCC;
    font-size: 14px;
}

.ld-details .table td.exp button{ 
    color: #D81D37;
    border: 1px solid #D81D37;
    border-radius: 11px;
    background: none;
    font-size: 12px;
    padding: 0px 18px;
    line-height: 22px;
}

.ld-details .table td.view-Btn button{ 
    color: #282D5B;
    border: 1px solid #D4D5DE;
    border-radius: 2px;
    background: none;
    font-size: 12px;
    padding: 0px 10px;
    line-height: 22px;
}

.ld-details {
    margin-top: 27px;
}

.popup-dumpstar-2 {
    max-width: 468px !important;
}

.popup-dumpstar-2 h5{
    font-size: 24px;
}
.poilcy_type select{
    height: 52;
    border: 0.5px solid #282D5B;
   
}
.poilcy_type label{
    color:#282D5B !important;
}
.poilcy_type .form-group span{
    top: 44px  !important;
}
.yl-mtop .up-add{
    margin-top: 0px !important;
}
.upload-file-verifcaction {
    margin-top: 30px;
}
.brose-file {
    max-width: 100%;
   height: 146px;
   border: 0.5px dashed #4AB5F1;
border-radius: 2px;
position: relative;
}
.brose-file input{
    opacity: 0;
    top: 0;
    max-width: 100%;
    height: 146px !important;
    position: absolute;
}
.brose-file h3 img{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}
.brose-file h3 span {
    font-size: 12px;
    color: #686868;
    line-height: 18px;
    margin-top: 6px;
    display: block;
text-align: center;
    font-family: 'Poppins-Regular';
}
.brose-file h3 button{
    display: block;
    text-align: center;
    font-family: 'Poppins-Regular';
    margin: 0 auto;
    border: 0.699999988079071px solid #4AB5F1;
    padding: 8px 16px;
    color: #4AB5F1;
    font-size: 12px;
    background: none;
    margin-top: 10px;

}
.popup-dumpstar-3 {
    max-width: 799px;
}



.owner {
    position: relative;
    padding-left: 30px;
    font-family: 'Poppins-Regular';
   font-size:12px;
    cursor: pointer;
    font-size: 22px;
    color:#282D5B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .owner input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkma {
    position: absolute;
    top: 0px;
    left: 0;
  width: 20px;
  height: 20px;
    border-radius: 50%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #4AB5F1;
  }
  
  
  
  /* When the radio button is checked, add a blue background */
  .owner input:checked ~ .checkma {
    background-color: #fff;
    border: 1px solid #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkma:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .owner input:checked ~ .checkma:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .owner .checkma:after {
    top: 4px;
    left: 4px;
  width: 10px;
  height: 10px;
      border-radius: 50%;
      background: #2196F3;
  }

  .upload-owner {
      margin-top: 36px;
  }
  .upload-owner label{
      font-size: 14px;
  }
  .upload-owner .auth-txt {
      margin-left: 16px;
      line-height: 21px;
      color: #282D5B;
      font-family: 'Poppins-Regular';
  }
  .upload-owner p{
      font-size: 16px;
      line-height: 25px;
      font-family: 'Poppins-Regular';
      color: #282D5B;
      margin-bottom: 13px;
  }

  .lable-border {
      border-top: 1px solid #EEEFF2;
      margin: 26px 0px;
      max-width: 284px;
  }

  .popup-dumpstar-3 .text-addpopup {
    padding: 40px 30px !important;
}
.bottom_border-btn {
    border-top: 0.5px solid #00000042;
    margin-top: 40px;
}
.btn-pre button.adloc{
    float: left;
}
#add_slect {
    position: relative;
}

#add_slect span{
    position: absolute;
    top: 22px;
    right: 16px;
    
}
#add_slect select{
 border-radius: 0px;
 color: #7E819C;
    height: 62px;
    border: 0.5px solid #282D5B99;
    color: #282D5B;
}
#defultInput select{
    height: 62px;
    color: #7E819C;
    background: #fff;
    border: 0.5px solid #7E819C;
    border-radius: 0px;
    font-family: 'Poppins-Regular';
    padding-left: 21px;
}

#defultInput label{
    top: -15px;
    opacity: 1;
    background: #fff;
    padding: 0px 8px;
    font-family: 'Poppins-Regular';
    color: #7E819C;
}

.saveTxtbtn button.submitTxtbtn {
    background: #4AB5F1 0% 0% no-repeat padding-box;
    padding: 11px 30px 15px 30px;
    font-family: 'Poppins-Regular';
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin-right: 30px;
    border: none;
    margin-top: 3px;
    cursor: pointer;
}
#dfemail input{
    background: none;
    pointer-events: none;
    color: #7E819C;
    background: #fff;
    border: 0.5px solid #7E819C;
    border-radius: 0px;
    font-family: 'Poppins-Regular';
}
#dfemail label{
    top: -71px;
    pointer-events: none;
    opacity: 1;
    background: #fff;
    padding: 0px 8px;
    font-family: 'Poppins-Regular';
    color: #7E819C;
    position: relative !important;
}

.daynmic-select select{
height: 62px;
border-radius: 0px;
}

.daynmic-select span{
    position: absolute;
    top: 25px;
    right: 16px;
}

.imact-trafic .datebtn {
    margin-top: 7x;
    display: block;
    margin-top: -36px !important;
    margin-left: 194px !important;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0.5px solid #282D5B;
  -webkit-text-fill-color: #282D5BCC;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.status-Box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000012;
    padding: 50px 23px 33px 23px;
}


.per-uodate {
    margin-top: 15px;
}

.status-Box h2 {
    font-size: 28px;
    color: #282D5B;
    font-family: "Poppins-Bold";
    line-height: 42px;
    border-bottom: 1px solid #EAEDF3;
    padding-bottom: 12px;
}

.status-Box h3 {
    font-size: 20px;
    color: #282D5B;
    font-family: "Poppins-SemiBold";
    line-height: 18px;
    margin-top: 30px;
}

.modifiy button.m-app-btn {
    color: #4AB5F1;
    font-size: 14px;
    font-family: 'gilroy-medium';
    padding: 12px 17px;
    border: 1px solid #4AB5F1;
    border-radius: 2px;
    background: #fff;
}

.modifiy button.m-app-btn span {
    margin-left: 5px;
}

.rc-img {
    margin-left: 20px;
}

.modifiy {
    margin-top: 18px;
}

.status_pro-txt h3 {
    color: #282D5B;
    font-family: "Poppins-SemiBold";
    font-size: 20px;
    line-height: 33px;
    margin-top: 45px;
}

.status_tabber .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #e9ecef00 #e9ecef00 #dee2e600;
}

.status_tabber .nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.status_tabber .nav-tabs .nav-item {
    margin-bottom: 0px;
}

.status_tabber {
    margin-top: 22px;
}

.status_tabber .nav-tabs {
    padding-bottom: 19px;
}

.status_tabber .nav-link {
    display: block;
    padding: 0px;
    margin-right: 74px;
    color: #282D5B99;
    font-family: "Poppins-Medium";
    font-size: 13px;
    line-height: 22px;
    position: relative;
}

.status_tabber .nav-link.active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: #4AB5F1;
    top: 37px;
}

.status_tabber .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #4AB5F1;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-family: "Poppins-Medium";
    font-size: 13px;
    line-height: 22px;
}

.review-desiign-box {
    margin-top: 23px;
}

.tbl-review-design {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000012;
    border-radius: 4px;
}

.tbl-review-design .table thead th {
    vertical-align: middle;
    border-bottom: 0px solid #dee2e6;
    border-top: 0px;
    padding: 24px 0px 23px 30px;
    color: #282D5B;
    font-family: 'gilroy-medium';
    font-size: 16px;
    line-height: 19px;
}

.tbl-review-design .table td {
    padding: 24px 0px 19px 30px;
    vertical-align: middle;
    border-top: 1px solid #00000012;
    color: #707070;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Poppins-Regular';
}

.tbl-review-design .table td.btn__view button {
    color: #4AB5F1;
    font-size: 14px;
    font-family: 'Poppins-Regular';
    padding: 10px 28px 9px 28px;
    background: none;
    border: 1px solid #4AB5F1;
}

.tbl-review-design .table th.action-type {
    text-align: right;
    padding-right: 108px;
}

.tbl-review-design .table td.action-type {
    text-align: right;
    padding-right: 108px;
}

.no-cart h5 {
    color: #4AB5F1;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Poppins-Regular';
}

.no-cart {
    background: #EDF7FE;
    border: 1px solid #00000012;
    border-radius: 4px;
    padding: 22px 26px 23px;
}

.table-permit table td.blue-txt button {
    border: 1px solid #1479EB;
    color: #1479EB;
    padding: 0px 21px;
}

.table-permit table td.orange-txt button {
    border: 1px solid #EC9D16;
    color: #EC9D16;
    padding: 0px 21px;
}


.dropdown-action {
    position: relative;
}

.dropdown-contentable {
    display: none;
    position: absolute;
    min-width: 133px;
    left: -62px;
    top: 70px;
    z-index: 1;
    border-radius: 9px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 9px #00000017;
    border: 0.5px solid #00000014;
}

.dropdown-contentable a {
    color: #282D5BCC;
    padding: 8px 11px;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Poppins-Regular';
    text-decoration: none;
    display: block;
    border-bottom: 0.5px solid #F6F7F8;

}

.dropdown-action:hover .dropdown-contentable {
    display: block;
}


.triangle-left {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #828282;
    position: absolute;
    right: 18px;
    top: -11px;
}

.triangle-left:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ffffff;
    position: absolute;
    left: -11px;
}

.invite-btn {
    padding: 13px 38px !important;
}

.dash-back {
    max-width: 983px;
    margin: 0 auto;
    background: #F9FAFB;
}

.bg-dashbord {
    background: #F9FAFB;
    padding: 44px 0px 18px 0px;
}

.reset-pass {
    max-width: 623px;
    margin: 0 auto;
    display: block;
    padding-top: 16px;
}

.passwird-reset-box {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 41px 55px 45px 56px;
}

.bg-gray-color {
    background: #F9FAFB;
}

.reset-txt h2 {
    color: #282D5B;
    font-family: "Poppins-Bold";
    font-size: 28px;
    line-height: 42px;
}

.reset-txt h6 {
    color: #282D5B99;
    font-family: 'gilroy-regular';
    font-size: 18px;
    line-height: 30px;
}

.yonker-email {
    margin-top: 43px;
}

.btn-reset-submit {
    margin-top: 39px;
}

.btn-reset-submit button {
    font-size: 18px;
    font-family: 'gilroy-medium';
    line-height: 30px;
    color: #FFFFFF;
    background: #4AB5F1;
    border: none;
    width: 100%;
    padding: 20px 0px;
}

.btn-reset-submit h5 {
color: #2C2E30;
font-family: "Poppins-Medium";
font-size: 14px;
line-height: 20px;
text-align: center;
margin-top: 20px;
cursor: pointer;
}

.create-new-padding {
    padding-top: 80px;
}
.yonker-email-2 {
    margin-top: 30px;
}
.account-txt {
    text-align: center;
}
.account-txt span a{
    color: #4AB5F1;
}
.tab-sec ul li a.gray_color{
    color: #00183980 !important;
}

.form-control:disabled, .form-control{
    background: #fff !important;

}

.slectInputBox label{
    top: -14px;
    background: #fff;
    opacity: 1;
    left: 20px;
    color: #282D5B99;
    padding: 0px 3px;
    font-size: 16px;
    font-family: 'Poppins-Regular';
}

.slectInputBox input{
    border: 0.5px solid #A9B8C1B0 !important;
    color: #282D5B;
}

.theme-green .bs-datepicker-head{
    background-color: #4ab5f1 !important; 
}
.theme-green .bs-datepicker-body table td.week span{
    color: #4ab5f1 !important; 
}

.table-permit table td.blue-txt-2 button {
    border: 1px solid #1479EB;
    color: #1479EB;
    padding: 0px 11px;
}

.table-permit table td.green-txt-2 button {
    border: 1px solid #38C461;
    color: #38C461;
    padding: 0px 11px;
}
.table-permit table td.orange-txt-2 button {
    border: 1px solid #EC9D16;
    color: #EC9D16;
    padding: 0px 22px;
}
.work-loaction-tab .nav-pills .nav-link.active{
color: #4AB5F1;
font-size: 18px;
font-family: "Poppins-SemiBold";
line-height: 27px;
background: none;
padding: 0px;
position: relative;
}
.work-loaction-tab .nav-pills .nav-link.active::before{
    position: absolute;
    content: '';
    background: #4AB5F1;
    border-radius: 6px;
    width: 31px;
    height: 5px;
    top: 27px;

}
.work-loaction-tab .nav-pills .nav-link{
    padding: 0px;
    color:#282D5B;
    margin-right: 48px;
    font-size: 18px;
    line-height: 27px;
    font-family: "Poppins-SemiBold";
}
.work-loaction-tab {
    margin-top: 35px;
}

.daily-sec {
    margin-top: 12px;
}

.box-work-daily {
    background: #FFFFFF;
border: 1px solid #F9F9F9;
margin-top: 32px;
padding: 40px 31px 39px 30px;
max-width: 983px;
}

.daily_Hd h2{
    color:#282D5B;
    font-size: 28px;
    line-height: 42px;
    font-family: "Poppins-Bold";
    padding-bottom: 14px;
    border-bottom: 1px solid #EFEFEF;
}

.mt_loacton {
    margin-top: 45px;
}
.dwl-tab {
    margin-top: 42px;
}
.daily-type {
    position: relative;
}
.daily-type select{
width: 100%;
font-family: 'Poppins-Regular';
font-size: 18px;
line-height: 27px;
height: 60px;
padding: 17px 24px 17px;
color: #282D5BCC;
border: 0.5px solid #282D5B99;
}
.daily-type span{
    position: absolute;
    top: 48px;
    right: 17px;
}

.daily-type label{
    background: #fff;
    position: relative;
    top: 9px;
    font-size: 16px;
    left: 17px;
    padding-left: 7px;
    font-family: 'Poppins-Regular';
    padding-right: 7px;
    color: #282D5B;
}

.work-categry {
    margin-top: 24px;
}
.dd-textarea{
    margin-top: 40px;
}
.dd-textarea textarea{
    width: 100%;
    height: 113px;
    padding: 14px 17px;
    resize: none;
    border: 0.5px solid #282D5B99;
}
.dd-textarea textarea::placeholder{
    color: #00183966;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    line-height: 22px;
}
.dd-textarea label{
    font-family: "Poppins-Medium";
color: #001839;
font-size: 16px;
line-height: 20px;
padding-bottom: 10px;
}

.box-work-daily-2{
    background: #FFFFFF;
    border: 1px solid #F9F9F9;
    margin-top: 40px;
    padding: 35px 33px 34px 32px;
    max-width: 983px;
    margin-bottom: 82px;
}
.add-moreTxt {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}
.btn-add-more {
    color: #4AB5F1;
    font-family: 'gilroy-medium';
    font-size: 16px;
    line-height: 19px;
 cursor: pointer;

}

.btn-add-delet button{
    color: #E53030;
    font-family: 'gilroy-medium';
    font-size: 16px;
    line-height: 19px;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 871px;
}
.notfound-txt {
    font-size: 16px;
    font-family: "Poppins-Medium";
    color: #4AB5F1;
    line-height: 20px;
    cursor: pointer;
    margin-top: 20px;

}

.job-addTxttwo {
    color: #001839;
    font-family: "Poppins-Light";
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 17px;
    margin-top: 20px;
    cursor: pointer;

}