
<header class="procees-logo">
	


	<div class="container  container_full">
		<div class="row">
			<div class="col-6">
				<div class="row">
					<div class="col-3">
						<div class="search-box pointer" (click)="goToProfile('/dashboard/permit')">
							<h2>Logo</h2>
						</div>
					</div>
					<div class="col-8">

					</div>
				</div>


			</div>
			<div class="col-6">
				<div class="profile-header dropdown-text">
						<!-- <div >
							
								<button class="btn btn-primary"> Pay Now</button>
							</div> -->
		
					<div class="userTxt ">
						<img src="assets/images/placeholder.svg" alt="">
						{{currentUser}}
						<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
					</div>


					<div class="drop-content">
						<a (click)="goToProfile('/dashboard/update-profile')">Profile</a>
						<a (click)="goToProfile('/dashboard/change-password')">Change Password</a>
						<a (click)="goToProfile('/dashboard/show-team-member')">Add Team Member</a>
						<a (click)="logoutUser()">Log Out</a>
					</div>


				</div>
			</div>
		</div>
	</div>

</header>