	<!-- Footer -->
	<footer class="footer">
		<div class="container">

			<div class="readbar_space">
				<div class="row">
					<div class="col-md-8">
						<div class="read_box">
							<h2>Ready to get started?</h2>
							<span>Still have more questions? See FAQ </span>
						</div>
					</div>

					<div class="col-md-4 d-flex justify-content-end">
						<div class="read_btn">
							<button class="btn" type="button">Get Started</button>
						</div>
					</div>
				</div>
			</div>

			<div class="footer_linkall">
				<div class="row">
					<div class="col-md-3">
						<div class="ab_footer">
							<a href="#!">
								<img src="assets/images/footer_logo.png" alt="" />
							</a>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
								has been the industry's standard dummy text ever since the 1500.</p>
							<ul class="social_footer">
								<li>
									<a href="#!" class="facebook_icon"></a>
								</li>
								<li>
									<a href="#!" class="twitter_icon"></a>
								</li>
								<li>
									<a href="#!" class="linkedin_icon"></a>
								</li>

								<li>
									<a href="#!" class="facebook_icon"></a>
								</li>
								<li>
									<a href="#!" class="twitter_icon"></a>
								</li>
								<li>
									<a href="#!" class="linkedin_icon"></a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<div class="extra_link">
									<ul>
										<li><a href="#!">About Us</a></li>
										<li><a href="#!">How it Works</a></li>
										<li><a href="#!">Contact</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 col-lg-3">
								<div class="extra_link">
									<ul>
										<li><a href="#!">Resolved Questions</a></li>
										<li><a href="#!">FAQs</a></li>
										<li><a href="#!">Insights</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 col-lg-3">
								<div class="extra_link">
									<ul>
										<li><a href="#!">Terms & Condition</a></li>
										<li><a href="#!">Privacy & Policy</a></li>
										<li><a href="#!">Trust & Safety</a></li>
									</ul>
								</div>
							</div>

							<div class="col-md-6 col-lg-3">
								<div class="contact_block">

									<ul>
										<li> <span>Contact Us</span></li>
										<li>
											<i class="phone_icon"></i> +33 1 88 28 51 11
										</li>
										<li>
											<i class="mail_icon"></i> <a
												href="mailto:contact@eportal.com">contact@eportal.com</a>
										</li>
										<li>
											<i class="location_icon"></i> 13 Lorem ipsum 75002 Paris
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="copyright">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">

						<p>©2019 Appening. All rights reserved</p>
					</div>
				</div>
			</div>
		</div>
		<span class="vecotr_img"></span>
		<span class="vecotr_img1"></span>
	</footer>
	<!-- Footer_End -->
