<aside class="side-nav-admin">
        <div class="side-nav-inner">
            <div class="side-nav-logo">
                <a href="index.html">
                    <div class="logo-dark" style="background-image: url('../assets/images/logo_admin.svg')"></div>
                </a>
            </div>
            <ul class="side-nav-menu_admin">
                <li class="nav-item pointer">
                    <a class="mrg-top-30" >
                        <span class="icon-holder">
                            <img src="../assets/images/ep.svg" alt="">
                        </span>
                        <span class="title">Engineering permits</span>
                    </a>
                </li>
                <li class="nav-item active pointer" (click) = "newMessage('/admin/permit/meter-permit',settings?.permit_type?.Meter)">
                    <a >
                        <span class="icon-holder">
                            <img src="../assets/images/mp.svg" alt="">
                        </span>
                        <span class="title" >Meter Permits</span>
                    </a>
                </li>
                <!-- (click) = "navigateByUrl('/admin/permit/hydrant-permit',settings?.permit_type?.Hydrant)" -->
                <li class="nav-item pointer" (click) = "newMessage('/admin/permit/hydrant-permit',settings?.permit_type?.Hydrant)" >
                    <a >
                        <span class="icon-holder">
                            <img src="../assets/images/hp.svg" alt="">
                        </span>
                        <span class="title">Hydrant Permits</span>
                    </a>
                </li>
                <li class="nav-item pointer " (click) = "newMessage('/admin/permit/oversize-permit',settings?.permit_type?.OverSized)">
                    <a >
                        <span class="icon-holder">
                            <img src="../assets/images/delivery.svg" alt="">
                        </span>
                        <span class="title">OverSized Vehicles</span>
                    </a>
                </li>

            </ul>
        </div>
    </aside>