<section class="reset-pass ">
    <div class="container p-0">
        <div class="row">
            <div class="col-12">
                <div class="back-txt">
                    <div class="row">
                        <div class="col-12">
                            <h3 routerLink = "/"><span><img src="assets/images/left-arrow.svg" alt="" ></span> Back</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="passwird-reset-box">
            <div class="row">
                <div class="col-12">
                    <div class="reset-txt">
                        <h2>Reset password</h2>
                        <h6>Please enter your email address register with Yonker</h6>
                        <div class="yonker-email">
                            <form [formGroup]="resetForm">
                            <div class="bdp_email loction-adInput">
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="form-group">
                                            <input type="text" formControlName="email"   [class]="resetControls.email.invalid && (resetControls.email.dirty || resetControls.email.touched || isSubmited) ? 'form-control form-group-error' : 'form-control'">
                                            <label class="" for="rp1" [class]="resetControls.email.invalid && (resetControls.email.dirty || resetControls.email.touched || isSubmited) ? ' form-control-placeholder msg' : 'form-control-placeholder msg'">Email Address</label>.
                                        </div>
                                        <div class="form-error" *ngIf="resetControls.email.invalid && (resetControls.email.dirty || resetControls.email.touched || isSubmited)">
                                                <span *ngIf="resetControls.email.errors['required']">
                                                  Please select a Email
                                                </span>
                                                <span *ngIf="resetControls.email.errors['maxlength']">
                                                  Please enter a Email no more than 250 characters.
                                                </span>
                                                <span *ngIf="resetControls.email.errors['pattern']">
                                                  Please enter a valid Email .
                                                </span>
                                              </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>

                    <div class="btn-reset-submit">
                        <button type="submit" (click) = "resetPassword()">Submit</button>
                        <h5 >Cancel</h5>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>