<header>
    <div class="container container_full p-0">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-3">
                        <div class="search-box">
                            <h2>Logo</h2>
                        </div>
                    </div>
                    <div class="col-8">

                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="profile-header dropdown-text">
                    <div class="userTxt ">
                        <img src="assets/images/placeholder.svg" alt="">
                        {{currentUser?.email}}
                        <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                    <div class="drop-content">
                            <!-- <a (click)="mavigateByUrl('/admin/add-staff')">Add Staff</a> -->
                            <a *ngIf ="(currentUser?.role_id == 2)" (click)="mavigateByUrl('/admin/staff-list')">Manage Staff</a>
                            <a *ngIf ="(currentUser?.role_id == 1)" (click)="mavigateByUrl('/admin/city-admin-list')">Add City Admin </a>
<a href="#" data-toggle="modal" data-target="#exampleModal-upload">Upload Documents</a>
                        <a (click)="logoutUser()">Log Out</a>

                    </div>
                </div>
            </div>
        </div>
    </div>



  <!-- Modal -->
  <div class="modal fade  modal_uploadFile" id="exampleModal-upload">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ud-txt">Upload Documents</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

 <div class="content-popup">

<div class="file-docBox">
<input type="file">
<button><i class="fa fa-cloud-upload" aria-hidden="true"></i>  Upload File</button>
</div>


      </div>
    


<div class="btnGroupFile">
<button class="btnGroupFile-one">Cancel </button>
<button  class="btnGroupFile-two">Submit</button>
</div>






      </div>
    </div>
  </div>



</header>