<section class="reset-pass create-new-padding">
    <div class="container p-0">
        <!-- <div class="row">
                <div class="col-12">
                    <div class="back-txt">
                        <div class="row">
                            <div class="col-12">
                                <h3><span><img src="assets/images/left-arrow.svg" alt=""></span> Back to dashboard</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        <div class="passwird-reset-box">
            <div class="row">
                <div class="col-12">
                    <div class="reset-txt">
                        <form [formGroup]="newPasswordForm">
                        <h2>Create New Password</h2>
                        <h6>Please create your password for login in future.</h6>
                        <div class="yonker-email">
                            <div class="bdp_email loction-adInput">
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="form-group">
                                            <input type="text" id="cnp1"  (input)="passwordMatch('pass')" formControlName="password" [class]="newPassword.password.invalid && (newPassword.password.dirty || newPassword.password.touched || isSubmited) ? 'form-control form-group-error' : 'form-control'" required>
                                            <label class="form-control-placeholder" for="cnp1" >Enter Password</label>
                                        </div>
                                        <div class="form-error"
                                        *ngIf="newPassword.password.invalid && (newPassword.password.dirty || newPassword.password.touched || isSubmited)">
                                        <span *ngIf="newPassword.password.errors['required']">
                                          Please select a Password
                                        </span>
                                        <span *ngIf="newPassword.password.errors['minLength']">
                                          Please enter a Password more than 6 characters.
                                        </span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="yonker-email-2">
                            <div class="bdp_email loction-adInput">
                                <div class="row">
                                    <div class="col-12 ">
                                        <div class="form-group">
                                            <input type="text" id="cnp2"  (input)="passwordMatch('conpass')" formControlName="cnfPassword"  [class]="newPassword.cnfPassword.invalid && (newPassword.cnfPassword.dirty || newPassword.cnfPassword.touched || isSubmited) ? 'form-control form-group-error' : 'form-control'" required>
                                            <label class="form-control-placeholder" for="cnp2">Confirm Password</label>
                                        </div>
                                        <div class="form-error"
                                        *ngIf="newPassword.cnfPassword.invalid  && (newPassword.cnfPassword.dirty || newPassword.cnfPassword.touched || isSubmited)">
                                        <span>
                                          Password Not Matched
                                        </span>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>

                    <div class="btn-reset-submit">
                        <button type="submit" (click) ="createNewPass()">Submit</button>
                        <h5 routerLink ='/'>Cancel</h5>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>