<section class="reset-pass create-new-padding">
        <div class="container p-0">
            <!-- <div class="row">
                <div class="col-12">
                    <div class="back-txt">
                        <div class="row">
                            <div class="col-12">
                                <h3><span><img src="assets/images/left-arrow.svg" alt=""></span> Back to dashboard</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

<div class="passwird-reset-box">
    <div class="row">
        <div class="col-12">
<div class="reset-txt">
<h2>Create New Password</h2>
<h6>Please create your password for login in future.</h6>
<div class="yonker-email">
        <div class="bdp_email loction-adInput">
            <div class="row">
                <div class="col-12 ">
                    <div class="form-group">
                        <input type="text" id="cnp1" class="form-control" required="">
                        <label class="form-control-placeholder" for="cnp1">Enter Password</label>
                    </div>
                </div>
            </div>
</div>
</div>
<div class="yonker-email-2">
    <div class="bdp_email loction-adInput">
        <div class="row">
            <div class="col-12 ">
                <div class="form-group">
                    <input type="text" id="cnp2" class="form-control" required="">
                    <label class="form-control-placeholder" for="cnp2">Confirm Password</label>
                </div>
            </div>
        </div>
</div>
</div>
</div>

 <div class="btn-reset-submit">
     <button>Submit</button>
     <h5>Cancel</h5>
</div>

        </div>
    </div>
</div>

        </div>
    </section>
