@import '../node_modules/ngx-toastr/toastr.css';

.form-group-error {
  border: 1px solid red !important;
}
.form-error {
  color: red !important;
  font-size: 18px;
}



.input-icon-check {
  height: 48px;
  background-image: url(/assets/images/check-in.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 100px;
  position: absolute;
  top: 26px;
  right: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.pointer{
  cursor: pointer;
}
.msg {
  color: red
}