
/* .tab-sec ul li a.deactive {
    color: black;
    font-family: "Poppins-Medium";
} */
.datebtn{
    margin-top: 7x;
    display: block;
    margin-top: -54px;
    margin-left: 145px;
}
.addlocation{
margin-left: 2px !important;
margin-top: 2px !important

}

.remover{
    margin-top: -53px !important;
    /* margin-left: -77px; */
    display: block;
    margin-left: 294px !important;
}
.submibtn{
    margin-right: 120px !important
}
.licensebtn{
    cursor: pointer;
    cursor: pointer;
    margin-top: -30px;
    display: block;
    margin-left: 373px;

}

.imgfile{
    margin-top: 20px !important;
    display: block !important;
    width: 100% !important;
    height: 146px !important;
    position: relative;
}
.imgfile button{
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -13px;
    top: -15px;
    cursor: pointer;
}

.imgfile img{
    overflow: hidden;
}
.closeimage {
    margin-top: 234px
}
.form-control{
    border-radius: 0px !important;
}

#dd-label{
    background: #fff;
    padding-bottom: 0px;
    position: relative;
    top: 13px;
    left: 20px;
    color: #282D5B;
    font-size: 16px;
    font-family: "Poppins-Medium";
    padding: 0px 3px;
}

#st-label{
    top: 11px;
    position: relative;
    left:20px;
    background: #fff;
    opacity: 1;
    color: #282D5B;
    font-size: 16px;
    font-family: "Poppins-Medium";
    padding: 0px 3px;
}


#st-label2{
    top: 11px;
    position: relative;
    left:20px;
    background: #fff;
    opacity: 1;
    color: #282D5B;
    font-size: 16px;
    font-family: "Poppins-Medium";
    padding: 0px 3px;
}