<div class="card">
  <div id="Inspectionsfour">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button">
        Inspections
        <span data-toggle="collapse" data-target="#insfour" aria-expanded="false" aria-controls="insfour"><i
            class="fa fa-chevron-down" aria-hidden="true"></i></span>
      </button>
    </h2>
  </div>
  <div id="insfour" class="collapse" aria-labelledby="Inspectionsfour" data-parent="#accordionExample">
    <div class="card-body">
      <div class="decisions_box-collepse">

        <div class="expiration-date-box-2">
          <form [formGroup]="inspectionForm">
            <div class="row">
              <div class="col-3">
                <div class="app-status-slect">
                  <div class="form-group">
                    <label>Inspection Date Time</label>
                    <input type="text" formControlName="date"
                      [class]="inspection.date.invalid && (inspection.date.dirty || inspection.date.touched || isInspection) ? 'form-control form-group-error' : 'form-control'"
                      #permitend="bsDatepicker" bsDatepicker placeholder="04/28/2020">
                    <span><i class="fa fa-calendar" (click)="permitend.toggle()" aria-hidden="true"></i></span>
                  </div>
                  <div
                    *ngIf="inspection.date.invalid && (inspection.date.dirty || inspection.date.touched || isInspection)">
                    <p class="form-error" *ngIf="inspection.date.errors['required']">
                      Please select date
                    </p>
                  </div>
                </div>
              </div>


              <div class="col-3">
                <div class="app-status-slect">
                  <div class="form-group">
                    <label>Inspection Type</label>
                    <select formControlName="type"
                      [class]="inspection.type.invalid && (inspection.type.dirty || inspection.type.touched || isInspection) ? 'form-control form-group-error' : 'form-control'">
                      <option value="" hidden>--Select--</option>
                      <option value="{{type?.key}}" *ngFor="let type of settings?.inspection_type">{{type?.value}}
                      </option>

                    </select>
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    <div
                      *ngIf="inspection.type.invalid && (inspection.type.dirty || inspection.type.touched || isInspection)">
                      <p class="form-error" *ngIf="inspection.type.errors['required']">
                        Please select type
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="app-status-slect">
                  <div class="form-group">
                    <label>Decision</label>
                    <select formControlName="decision"
                      [class]="inspection.decision.invalid && (inspection.decision.dirty || inspection.decision.touched || isInspection) ? 'form-control form-group-error' : 'form-control'">
                      <option value="" hidden>--Select--</option>
                      <option value="{{type?.key}}" *ngFor="let type of settings?.inspection_decision">{{type?.value}}
                      </option>


                    </select>
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    <div
                      *ngIf="inspection.decision.invalid && (inspection.decision.dirty || inspection.decision.touched || isInspection)">
                      <p class="form-error" *ngIf="inspection.decision.errors['required']">
                        Please select decision
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="app-status-slect">
                  <div class="form-group">
                    <label>Amount</label>
                    <input type="text" placeholder="0.00" formControlName="amount">

                  </div>
                </div>
              </div>
            </div>
            <div class="comment-box-submision">
              <div class="form-group">
                <label>Remarks</label>
                <textarea formControlName="remark"
                  placeholder="Lorem ipsum dolor sit amet,at, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."></textarea>
              </div>
            </div>
            <div class="dicision-submit_btn"><button type="submit" (click)="addInspections()">Submit</button></div>
          </form>
        </div>
        <div class="plan-examiner-box">
          <table class="table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Decision</th>
                <th>Fee</th>
                <th>Inspector</th>
                <th>Date</th>
                <th>Remarks</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor ="let ins of applicationDetails?.inspections">
                <td>{{ settings.getSetting('inspection_type',ins['type'])}}</td>
                <td>{{ settings.getSetting('inspection_decision',ins['inspection_decision'])}}<span *ngIf ="ins?.status == 0" class="voidMsg">(v)</span></td>
                <td>{{ins?.fee}}</td>
                <td>{{ins?.staff?.name?ins?.staff?.name:'_'}}</td>
                <td>{{ins?.createdAt | date}}</td>
                <td>{{ins?.remark}}</td>
                <td>
                  <div class="dropdown_act">
                    <h6><i class="fa fa-angle-down" aria-hidden="true"></i></h6>
                    <div class="dropdown-content-void">
                      <a (click)="voidInspection(ins?.id)" *ngIf ="ins?.status != 0" >Void Inspection</a>
                    </div>
                  </div>
                </td>

              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>